{% extends '::base.html.twig' %}

{% block menu %}
	{% set active = 'mercadolabo' %}
	{% include '::menu.html.twig' %}
{% endblock menu %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
		
			{# HEADER #}
			<section class="panel post-wrap pro-box">
				<aside>
				  <div class="post-info">
					  <span class="arrow-pro right"></span>
					  <div class="panel-body">
						  <div class="text-center twite">
							  <h1 style="font-size: 40px;">{{ formulario_info.nombre }}</h1>
						  </div>
					  </div>
				  </div>
				</aside>
				<aside class="post-highlight terques v-align">
				  <div class="panel-body text-center">
					  <div class="panel-body">
						  <h2>{{ formulario_info.encabezado }}</h2>
					  </div>
				  </div>
				</aside>
			</section>
			
			<section class="panel">
				<div class="panel-body">
				<p>{{ formulario_info.descripcion|raw }}</p>

					{% if altEstudio %}
						<div class='row'>
							<div class='col-lg-2'></div>
								<div class='col-lg-8 containertable'>
									<br><table class="table table-striped border-top datatableI">
										<thead>
											<tr><th>{% trans from "label" %}alternativas.estudio{% endtrans %}</th></tr>
										</thead>
										<tbody>
											{% for ae in altEstudio %}
												<tr><td>{{ ae.carrera.nombre }}</td></tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							<div class='col-lg-2'></div>
						</div>
						
						<div class='col-lg-12'>
					
							{% if archivoCargado == false %}
								<div class="alert alert-warning fade in">
									  <button data-dismiss="alert" class="close close-sm" type="button">
										  <i class="icon-remove"></i>
									  </button>
									  <strong></strong> {% trans from "label" %}mentor.no.ha.subido.archivo.espere.porfavor{% endtrans %}
								  </div>

							{% else %}
								<div id='contentIframe' STYLE='text-align:center;'>
									<iframe id="fraDisabled" src="{{ asset(rutaInformeML) ~ '?f='~'now'|date('U') }}" width="800px" height="300px" /*seamless*/>
									</iframe>
								</div>

								<hr>
								<div class="panel-body text-center">
									<a href="{{ path('perfil', { 'perfilId': sess_user.id }) }}" type="button" class="btn btn-shadow btn-primary">{% trans from "label" %}ver.perfil{% endtrans %}</a>
									{#<a href='{{ path('agenda_estudiante') }}' type="button" class="btn btn-shadow btn-primary">{% trans from "label" %}anterior{% endtrans %}</a>#}
									<a href='{{ path('agenda_estudiante') }}' type="button" class="btn btn-shadow btn-primary">{% trans from "label" %}continuar.programa{% endtrans %}</a>
								</div>
							{% endif %}	
							
						</div>
						
					{% else %}
						<form action="{{ path('mercado_laboral') }}" method='POST' type="post" STYLE='display:inline' id='form'>
							<section class="panel">
								<div class='row'>
									<div class='col-lg-2'></div>
									<div class='col-lg-8 containertable'>
										{% if carreras %}
											<table class="table table-striped border-top datatable">
												<thead>
													<tr>
														<th></th>
														<th>{% trans from "label" %}alternativas.estudio{% endtrans %}</th>
													</tr>
												</thead>
												<tbody>
													{% for c in carreras %}
														<tr>
															<td>
																<input type="checkbox" name="carrerasSeleccionadas[]" value="{{ c.id }}" data-carrera="{{ c.nombre}}" class="chk_carrera"/>
															</td>
															<td>{{ c.nombre }}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										{% endif %}
									</div>
									<div class='col-lg-2'>&nbsp;</div>
								</div>
							</section>

							<hr>
							<div class="panel-body text-center">
								<a href="{{ path('perfil', { 'perfilId': sess_user.id }) }}" type="button" class="btn btn-shadow btn-primary">{% trans from "label" %}ver.perfil{% endtrans %}</a>
								{#<a type="button" class="btn btn-shadow btn-primary">{% trans from "label" %}anterior{% endtrans %}</a>#}
								{#<a href='{{ path('agenda_estudiante') }}' type="button" class="btn btn-shadow btn-primary">{% trans from "label" %}continuar.programa{% endtrans %}</a>#}
								<button type="button" class="btn btn-shadow btn-success btn-selecCarrera">{% trans from "label" %}seleccionar.carreras{% endtrans %}</button>
							</div>
						</form>

				{% endif %}	
			
				</div>
			</section>

		</div>
	</div>
{% endblock body %}

{% block script %}
    <script type="text/javascript" src="{{ asset('assets/data-tables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/data-tables/DT_bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vocationet/datatables.js') }}"></script>
	<script>
	
		// Evento de envio del formulario con los checked seleccionados, validación, de min 1, max 3
		$('.btn-selecCarrera').click('#form', function(e){
			//e.preventDefault();
            var car = $('.chk_carrera', dataTable.table.fnGetNodes());
            var AuxCount = 0;
            var NameItems = '\n';
            $.each(car, function(i, item){
                if (item.checked){
					AuxCount = AuxCount + 1;
					NameItems = NameItems + ' - ' + $(this).data('carrera') + '\n';
                }
			});

			if ((AuxCount > 0) && (AuxCount <= 3)) {
				if (confirm('{% trans from "label" %}confirmar.alternativas.de.estudio{% endtrans %}'+NameItems)) {
					$('#form').submit();
				}
			} else {
				$.gritter.add({
					title: '{% trans from "messages" %}datos.invalidos{% endtrans %}',
					text: '{% trans from "messages" %}puede.seleccionar.maximo.tres.alternativas.minimo.una{% endtrans %}',
					time: 3000,
					image: '{{ asset('img/delete.png') }}',
				});
			}
		});


		// Evento de click al checkear un elemento de la tabla, para controlar la cantidad de elementor checkeados
		$('.chk_carrera').click(function(){
			var AuxCount = 0;
			if($(this).is(":checked")){
				var car = $('.chk_carrera', dataTable.table.fnGetNodes());
				$.each(car, function(i, item){
					if (item.checked){
						AuxCount = AuxCount + 1;
					}
				});

				if (AuxCount > 3) {
					$(this).attr('checked', false);
					$.gritter.add({
						title: '{% trans from "messages" %}datos.invalidos{% endtrans %}',
						text: '{% trans from "messages" %}puede.seleccionar.maximo.tres.alternativas{% endtrans %}',
						time: 3000,
						image: '{{ asset('img/delete.png') }}',
					});
				}
			}
		});

	//Desactivar click derecho de ifram de PDF
	$('#fraDisabled').ready(function() {
		window.frames["fraDisabled"].document.oncontextmenu = function(){return false;};
	});
	</script>
	
{% endblock script%}
