{% extends '::base.html.twig' %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('assets/chosen/chosen.css') }}" />
{% endblock style %}

{% block menu %}
	{% set active = 'inbox' %}
	{% include '::menu.html.twig' %}
{% endblock menu %}

{% block body %}
<div class="mail-box">
<aside class="sm-side">
  <div class="user-head">
      <a class="inbox-avatar">
          <img src="{{ sess_user.usuarioImagen|default(asset(gui_default_img)) ~ '?type=large' }}" alt="" style="width: 60px; height: 60px;">
      </a>
      <div class="user-name">
          <h5>{{ sess_user.usuarioNombre ~ ' ' ~ sess_user.usuarioApellido }}</h5>
          <span>{{ sess_user.usuarioEmail }}</span>
      </div>      
  </div>
  <div class="inbox-body">
      <a class="btn btn-compose" data-toggle="modal" href="#redactar">
          {% trans  from "label" %}redactar{% endtrans %}
      </a>
          
      {# MODAL NUEVO MENSAJE #}      
      <div class="modal fade" id="redactar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">{% trans  from "label" %}redactar{% endtrans %}</h4>
                  </div>
                  <div class="modal-body">
                      <form class="form-horizontal" role="form" action="{{ path('enviar_mensajes') }}" method="POST" {{ form_enctype(form) }}>
                          <div class="form-group">
                              <label  class="col-lg-2 control-label">{% trans  from "label" %}para{% endtrans %}</label>
                              <div class="col-lg-10">
                                  {{ form_widget(form.to, {'attr':{'class':'form-control chosen', 'required':'required', 'data-placeholder':'para'|trans({}, 'label') } }) }}                                  
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 control-label">{% trans  from "label" %}asunto{% endtrans %}</label>
                              <div class="col-lg-10">
                                  {{ form_widget(form.subject, {'attr':{'class':'form-control'} }) }}
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 control-label">{% trans  from "label" %}mensaje{% endtrans %}</label>
                              <div class="col-lg-10">
                                  {{ form_widget(form.message, {'attr':{'class':'form-control', 'cols':'30', 'rows':'10' } }) }}
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 control-label">{% trans  from "label" %}adjuntos{% endtrans %}</label>
                              <div class="col-lg-10">
                                  <input type="file" id="form_attachment" name="form[attachment][]" class="form-control" multiple="">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-lg-offset-2 col-lg-10">
                                  {{ form_errors(form) }}
                                  {{ form_widget(form._token) }}
                                  <button type="submit" class="btn btn-send">{% trans  from "label" %}enviar.mensaje{% endtrans %}</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      
  </div>
  
  {# MENU IZQUIERDO #}      
  <ul class="inbox-nav inbox-divider">
      <li class="active">
          <a style="cursor:pointer;" id="btn-inbox"><i class="icon-inbox"></i> {% trans  from "label" %}inbox{% endtrans %}<span class="label label-danger pull-right"></span></a>
      </li>
      <li>
          <a style="cursor:pointer;" id="btn-unread"><i class="icon-check-empty"></i> {% trans  from "label" %}sin.leer{% endtrans %}</a>
      </li>
      <li>
          <a style="cursor:pointer;" id="btn-sent"><i class="icon-envelope-alt"></i> {% trans  from "label" %}enviados{% endtrans %}</a>
      </li>
      <li>
          <a style="cursor:pointer;" id="btn-trash"><i class=" icon-trash"></i> {% trans  from "label" %}eliminados{% endtrans %}</a>
      </li>
  </ul>

</aside>
        
<aside class="lg-side">
  <div class="inbox-head">
      <h3>{% trans  from "label" %}mensajes{% endtrans %}</h3>
      {#<form class="pull-right position" action="#">
          <div class="input-append">
              <input type="text"  placeholder="{% trans  from "label" %}buscar.mensaje{% endtrans %}" class="sr-input">
              <button type="button" class="btn sr-btn"><i class="icon-search"></i></button>
          </div>
      </form>#}
  </div>
  <div class="inbox-body" id="inbox-tbody">
      {# contenedor ajax #}
  </div>
</aside>
</div>
{% endblock body %}
    
{% block script %}
    <script src="{{ asset('assets/chosen/chosen.jquery.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(".chosen").chosen({
            width: "100%",
            no_results_text: "{% trans  from "label" %}no.result.to.mensajes{% endtrans %}",
        });
    </script>
<script src="{{ asset('js/vocationet/mensajes.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    Mensajes({
        inboxRoute: '{{ path('get_mensajes') }}',
        sentMessagesRoute: "{{ path('get_mensajes', {'tipo':1}) }}",
        unreadMessagesRoute: "{{ path('get_mensajes', {'tipo':2, 'estado':0}) }}",
        trashMessagesRoute: "{{ path('get_mensajes', {'tipo':0, 'estado':2}) }}",
        showMessageRoute: '{{ path('show_mensaje', {'mid':'MID'}) }}',
    });
</script>
{% endblock script %}