{% extends '::base.html.twig' %}

{% block style %}
<link href="{{ asset('assets/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}" rel="stylesheet"/>
<style>
    .form-test{
        padding: 10px 40px;
    }    
    
    .respuesta{
        margin: 20px 20px;
    }
        
    .slider-container{
        margin-top: 20px;
    }
        
    .slider-info{
        padding: 0px;
        background-color: #22BACF;
        border-color: #22BACF;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
    }
    
    .sortable .label{
        display: block;
        margin: 5px;
        font-weight: normal;
        font-size: 14px;
        text-align: left;
        width: auto;
        cursor: move;
    }
    
    .option, .option-check{
        background: #59ACE2;        
        margin: 5px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        overflow: hidden;
        text-overflow:ellipsis;
        vertical-align: middle;
    }
    
    .option label, .option-check label{
        font-weight: normal !important;        
        cursor: pointer;
        padding: 8px 3px;
        min-height: 50px;
        vertical-align: middle;
    }
    
    .option.active, .option-check.active{
        background: #FCB322;
    }
    
    .option input[type=radio], .option-check input[type=checkbox]{
        display: none;
    }
</style>
{% endblock style %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        
        {# HEADER #}
        <section class="panel post-wrap pro-box">
            <aside>
              <div class="post-info">
                  <span class="arrow-pro right"></span>
                  <div class="panel-body">
                      <div class="text-center twite">
                          <h1 style="font-size: 40px;">Diagnóstico</h1>
                      </div>
                  </div>
              </div>
            </aside>
            <aside class="post-highlight terques v-align">
              <div class="panel-body text-center">
                  <div class="panel-body">
                      <h2>Este diagnostico es Gratuito y evalúa el estado en el cual te encuentras y a su ves dará recomendaciones para comenzar con la búsqueda de tu vocación ideal para ti.</h2>
                  </div>
              </div>
            </aside>
        </section>
        
        <section class="panel">
            <header class="panel-heading">
                Diagnóstico
            </header>
            <div class="panel-body">
                <p>Realiza el siguiente test gratuito que te indicará en qué parte del proceso para escoger carrera te encuentras y qué recomendaciones te sugerimos para escoger la carrera más acorde a tu perfil reduciendo las posibilidades de equivocarte.</p>
                <p>A continuación te presentamos una serie de afirmaciones relacionadas con tu proceso de decisión de carrera. Te recordamos que todas las respuestas son válidas y no existen respuestas correctas o incorrectas.</p>
                <div class="stepy-tab">
                    <ul id="default-titles" class="stepy-titles clearfix">
                        {% for formulario in formularios %}
                            <li id="default-title-0" class="{% if loop.index == 1 %}current-step{% endif %}">
                                <div>{{ formulario.nombre }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <form class="form-horizontal form-test" id="form">
                    {% for formulario in formularios %}
                        <fieldset title="{{ formulario.nombre }}" class="step">
                            <legend></legend>
                            
                            {% for pregunta in formulario.preguntas %}
                                <div class="form-group">
                                  <label class="col-lg-12 control-label"><b>{{ pregunta.numero }}. </b>{{ pregunta.pregunta }}</label>
                                  <div class="col-lg-12 respuesta">
                                      {% include "vocationetBundle:Preguntas:preguntas.html.twig" %}
                                  </div>
                                </div>
                            {% endfor %}
                        </fieldset>
                    {% endfor %} 
                    <input type="submit" class="finish btn btn-danger" value="{% trans  from "label" %}enviar{% endtrans %}"/>
                </form>
            </div>
        </section>
        
    </div>
</div>
{% endblock body %}
{% block script %}
<script src="{{ asset('assets/jquery-ui/jquery-ui-1.10.1.custom.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/sliders.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery.stepy.js') }}"></script>
<script src="{{ asset('js/jquery.validate.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/bootstrap.touchspin.js') }}"></script>
<script>
$(function() {
    $('#form').stepy({
        backLabel: '{% trans  from "label" %}anterior{% endtrans %}',
        block: true,
        nextLabel: '{% trans  from "label" %}siguiente{% endtrans %}',
        titleClick: true,
        titleTarget: '.stepy-tab'
    });

    $( ".slider" ).slider({
        min: 1,
        max: 5,
        slide: function( event, ui ) {
            parent = $(this).parents(".slider-container");            
            parent.find(".slider-info").html(ui.value);
            parent.find(".slider-value").val(ui.value);
        }
    });

    $(".sortable").sortable({
        update: function(event, ui){
            var orden = $(this).sortable('toArray').toString();
            $(this).siblings(".sort-value").val(orden);
        },
    }).disableSelection();
    
    $(".input-number").TouchSpin({
        min: 1,
        max: 3,
    });
    
    $(".slider-percent").slider({
        min:0,
        max:100,
        slide: function( event, ui ) {
            parent = $(this).parents(".slider-container");            
            parent.find(".slider-info").html(ui.value+"%");
            parent.find(".slider-value").val(ui.value);
        }
    });
    
    $('.option label').click(function(){
        var container = $(this).parents(".options-container");
        var parent = $(this).parent();
        
        container.find(".option").removeClass("active");        
        parent.addClass("active");
    });
    
    $('.option-check label').click(function(){
        var container = $(this).parents(".options-container");
        var checkbox = $(this).find("input[type=checkbox]");
        var parent = $(this).parent();
        
        if(checkbox.is(":checked")){
            parent.addClass("active");        
        }
        else{
            parent.removeClass("active");        
        }
    });
    
});
</script>

{% endblock script %}