{# CARRERAS #}
{% if carreras %}
	<section class="panel">
		<header class="panel-heading">
			<a type="button" href="{{ path('crear_foro') }}" class="btn btn-primary btn-block">{% trans from "label" %}nuevo.foro{% endtrans %}</a>
		</header>
	</section>
	
	<section class="panel">
		<header class="panel-heading tab-bg-green tab-right ">
			<ul class="nav nav-tabs pull-right">
	
				<li class="{% if actual.temaId == 0 %}active{% endif %}">
					<a data-toggle="tab" href="#carreras"><b>{% trans from "label" %}carreras{% endtrans %}</b></a>
				</li>
				<li class="{% if actual.temaId != 0 %}active{% endif %}">
					<a data-toggle="tab" href="#temas"><b>{% trans from "label" %}temas{% endtrans %}</b></a>
				</li>
			</ul>
		</header>
		<div class="panel-body">
			<div class="tab-content">

				{# CARRERAS #}
				<div id="carreras" class="tab-pane {% if actual.temaId == 0 %}active{% endif %}">
					<section class="panel">
						<div class="list-group">
							{% for car in carreras %}
								<a class="list-group-item {% if actual.carreraId == car.id %}active{% endif %}" href="{{ path('foros_temas', {'id' : car.id }) }}">
									{{ car.nombre }}
								</a>
							{% endfor %}
						</div>
					</section>
				</div>

				{# TEMAS #}
				<div id="temas" class="tab-pane {% if actual.temaId != 0 %}active{% endif %}">
					<div class="list-group">
						{% for tem in temas %}
							<a class="list-group-item {% if actual.temaId == tem.id %}active{% endif %}" href="{{ path('foros_temas', {'id' : actual.carreraId, 'temaId' : tem.id }) }}">
								{{ tem.nombre }} ({{ tem.cantidadForos }})
							</a>
						{% else %}
							<p class="list-group-item">{% trans from "label" %}no.hay.temas{% endtrans %}</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
