{% set sess_user = app.session.get('sess_user') %}
{% set sess_permissions = app.session.get('sess_permissions') %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Altactic">
		<meta name="keyword" content="">
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<title>{% block title %}Vocacionet{% endblock %}</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/bootstrap-reset.css') }}">
		
		<!--external css-->
		<link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/gritter/css/jquery.gritter.css') }}" />
		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style-responsive.css') }}" />
        
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
		<!--[if lt IE 9]>
		  <script src="{{ asset('js/html5shiv.js') }}"></script>
		  <script src="{{ asset('js/respond.min.js') }}"></script>
		<![endif]-->

		{% block style %}{% endblock %}
	</head>

	<body>

		<section id="container" class="">
			<!--header start-->
				<header class="header white-bg">
					<div class="sidebar-toggle-box">
						<div data-original-title="{% trans from "label" %}toggle.menu{% endtrans %}" data-placement="right" class="icon-reorder tooltips"></div>
					</div>
					
					<!--logo start-->
						<a href="{{ path('homepage') }}" class="logo" >Vocatio<span>net</span></a>
					<!--logo end-->
					
					<div class="nav notify-row" id="top_menu">
						
						<!--  notification start -->
						<ul class="nav top-menu">
							<!-- settings start - ICONO DE NOTIFICACIONES-->
                            <!--<li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="icon-th-list"></i>
                                    <!--<span class="badge bg-success">3</span>
                                </a>
                                <ul class="dropdown-menu extended tasks-bar">
                                    <div class="notify-arrow notify-arrow-green"></div>
                                    <li>
                                        <p class="green">test</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <div class="desc">Dashboard v1.3</div>
                                                <div class="percent">45%</div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                    <span class="sr-only">45% Complete</span>
                                                </div>
                                            </div>

                                        </a>
                                    </li>
                                    <li class="external">
										<a href="#">See All Tasks</a>
                                    </li>
                                </ul>
                            </li>-->
							<!-- settings end -->
							
                            <li id="header_inbox_bar" class="dropdown">
                                <a class="" href="{{ path('mensajes') }}">
                                    <i class="icon-envelope-alt"></i>
                                    <span class="badge bg-important inbox-badge"></span>
                                </a>									
                            </li>
                            
                            <li id="header_inbox_bar" class="dropdown">
                                <a class="" href="{{ path('contactos') }}">
                                    <i class="icon-user"></i>
                                    <span class="badge bg-important amistades-badge"></span>
                                </a>									
                            </li>
						  
							<!-- notification dropdown start - ICONO CAMPANA -->
							<!--<li id="header_notification_bar" class="dropdown">
									<a data-toggle="dropdown" class="dropdown-toggle" href="#">
										<i class="icon-bell-alt"></i>
										<span class="badge bg-warning">7</span>
									</a>
									<ul class="dropdown-menu extended notification">
										<div class="notify-arrow notify-arrow-yellow"></div>
										<li>
											<p class="yellow">You have 7 new notifications</p>
										</li>
										<li>
											<a href="#">
												<span class="label label-danger"><i class="icon-bolt"></i></span>
												Server #3 overloaded.
												<span class="small italic">34 mins</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="label label-warning"><i class="icon-bell"></i></span>
												Server #10 not respoding.
												<span class="small italic">1 Hours</span>
											</a>
										</li>
							 
										<li>
											<a href="#">See all notifications</a>
										</li>
									</ul>
								</li>-->
							<!-- notification dropdown end -->

						</ul>
					</div>
					
					<div class="top-nav ">
						<ul class="nav pull-right top-menu">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <img alt="" src="{{ asset(sess_user.usuarioImagen|default(gui_default_img)) ~ '?type=small' }}" style="width:29px; height: 29px;">
                                    <span class="username">{{ sess_user.usuarioNombre ~ ' ' ~ sess_user.usuarioApellido }}</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu extended logout">
                                    <div class="log-arrow-up"></div>
                                    <li><a href="{{ path('perfil', { 'perfilId': sess_user.id } ) }}"><i class=" icon-user"></i>{% trans from "label" %}perfil{% endtrans %}</a></li>
                                    {% if 'acceso_pagos' in sess_permissions.permissions %}
                                        <li><a href="{{ path('planes') }}"><i class="icon-suitcase"></i> {% trans from "label" %}paquetes{% endtrans %}</a></li>
                                        <li><a href="{{ path('comprar') }}"><i class="icon-shopping-cart"></i> {% trans from "label" %}carrito.compras{% endtrans %}</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('logout') }}"><i class="icon-key"></i> {% trans from "label" %}cerrar.session{% endtrans %}</a></li>
                                </ul>
                            </li>
						</ul>
					</div>
				</header>

			
				<!--sidebar start MENU VETICAL IZQUIERDO -->
				<aside>
					<div id="sidebar"  class="nav-collapse ">
						{% block menu %}{% endblock %}
					</div>
				</aside>
			
			<!--main content start-->
			{# id="main-content" para espacio del menu vertical #}
				<section id="main-content">
					<section class="wrapper">
						<!-- page start-->
							{% block body %}{% endblock %}
						<!-- page end-->
					</section>
				</section>
			<!--main content end-->
		
		</section>

		<!-- js placed at the end of the document so the pages load faster -->
		<script src="{{ asset('js/jquery.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<!----><script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.nicescroll.js') }}"></script>-->
        <script type="text/javascript" src="{{ asset('assets/gritter/js/jquery.gritter.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/owl.carousel.js') }}"></script>
        
		<!--common script for all pages-->
		<script src="{{ asset('js/common-scripts.js') }}"></script>
		<script src="{{ asset('js/gritter.js') }}" type="text/javascript"></script>
        

        {# SCRIPTS VOCATIONET #}
        {% include '::globals.js.twig' %}
        {% include '::alerts.html.twig' %}
        
        <!-- script para alert-badge -->
        <script src="{{ asset('js/vocationet/alert-badge.js') }}" type="text/javascript"></script>
        <!-- deshabilitar boton submit tras envio de formulario -->
        <script src="{{ asset('js/vocationet/disable-submit.js') }}" type="text/javascript"></script>
		
		<script>
			// Confirmacion de eliminacion de elementos
			$('.confirmdelete').click(function(){
				IdElementDelete = $(this).data('id');
				Ent = $(this).data('ent');
				if (confirm('{% trans from "messages" %}esta.seguro.de.eliminar.este.elemento{% endtrans %}')) {
					$('#formdelete'+Ent+'_'+IdElementDelete).submit();
				}
			});
		</script>

        {% block script %}{% endblock %}
	</body>
</html>
