{% extends "::base.html.twig" %}

{% block style %}
<style>
	.paddBtn{
		padding-bottom: 10px;
	}
	.paddBtnEstTrb{
		padding-bottom: 30px;
	}

	div.bigstars div.rateit-range
{
    background: url({{ asset('rateit/star-white32.png') }});
    height: 32px !important;
}
 
div.bigstars div.rateit-hover
{
    
    
    background: url({{ asset('rateit/star-gold32.png') }});
}
 
div.bigstars div.rateit-selected
{
    background: url({{ asset('rateit/star-gold32.png') }});
}
 
div.bigstars div.rateit-reset
{
    background: url({{ asset('rateit/star-black32.png') }});
    width: 32px !important;
    height: 32px !important;;
}
 
div.bigstars div.rateit-reset:hover
{
    background: url({{ asset('rateit/star-white32.png') }});
}

</style>

<link href="{{ asset('rateit/src/rateit.css')}}" rel="stylesheet" type="text/css">

{% endblock style %}

{% block body %}
	<div class='col-lg-9'>
		<div class="row">
			{# PERFIL MENTOR #}
			{% if perfil %}
				<aside class="profile-nav col-lg-4">

					{# IMAGEN DE PERFIL Y NOMBRE #}
					<section class="panel">
						<div class="user-heading round">
							{% set imagen = (perfil.usuarioImagen) ? perfil.usuarioImagen : gui_default_img %}
							<a href="#"><img src="{{ asset(imagen ~ '?type=large') }}" alt=""></a>
							<h1>{{ perfil.usuarioApellido }}&nbsp;{{ perfil.usuarioNombre }}</h1>
							<p>{{ perfil.usuarioEmail }}</p>
						</div>
						
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="{{ path('perfil', {'perfilId' : perfil.usuarioId }) }}"> <i class="icon-user"></i> {% trans from "label" %}perfil{% endtrans %}</a></li>
							{% if sess_user.id == perfil.usuarioId %}
								<li class=""><a href="{{ path('perfil_edit') }}"> <i class="icon-user"></i> {% trans from "label" %}editar.perfil{% endtrans %}</a></li>
								<li class=""><a href="{{ path('perfil_sincronizar')}}"> <i class="icon-linkedin"></i> {% trans from "label" %}sincronizar.perfil{% endtrans %}</a></li>
								<li data-original-title="{% trans from "label" %}descripcion.foros{% endtrans %}" class='tooltips' data-placement="right" data-toggle="tooltip">
									<a href="{{ path('foros_temas')}}"> <i class="icon-list-alt"></i> {% trans from "label" %}foros{% endtrans %}</a>
								</li>
								<li data-original-title="{% trans from "label" %}descripcion.mensajes{% endtrans %}" class='tooltips' data-placement="right" data-toggle="tooltip">
									<a href="#">
										<i class="icon-inbox"></i> {% trans from "label" %}mensajes{% endtrans %}
										<span class="label label-success pull-right r-activity">5</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</section>

					{# EXTRACTO #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1>{% trans from "label" %}extracto{% endtrans %}</h1>
										<div class='col-lg-12 row'><b>{% trans from "label" %}perfil.profesional{% endtrans %}</b></div><br>
										<div class='col-lg-12'>
											{% if perfil.usuarioPerfilProfesional %}
												{{ perfil.usuarioPerfilProfesional }}
											{% else %}
												{% trans from "label" %}no.ha.sido.suministrada{% endtrans %}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					
					{# HISTORIAL #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1>{% trans from "label" %}historial{% endtrans %}</h1>
										<div class='col-lg-12 row'><b>{% trans from "label" %}no.encuentas.realizadas{% endtrans %}</b></div><br>
										<div class='col-lg-12'>PENDIENTE</div>
										<hr>
										<div class='col-lg-12 row'><b>{% trans from "label" %}mentorias.realizadas{% endtrans %}</b></div><br>
										<div class='col-lg-12'>PENDIENTE</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					{# DEFINICION DEL VALOR DE MENTORIA #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1>{% trans from "label" %}definicion.de.valor.mentoria{% endtrans %}</h1>
										<p>{% trans from "label" %}explicacion.definicion.de.valor.mentoria{% endtrans %}</p>
										<div class='col-lg-12 row'><b>{% trans from "label" %}valor{% endtrans %}: </b></div>
											<div class='col-lg-2'>&nbsp;</div>
											{% if perfil.usuarioValorMentoria %}
												<div class='col-lg-10'>
													<h1><b>$ {{ perfil.usuarioValorMentoria|number_format(0, '', '.') }}</b></h1>
												</div>
												<br>
												<div class="row-desk col-lg-12 row paddBtn" style='text-align:center;'>
													<button type="button" class="btn btn-shadow btn-success">{% trans from "label" %}no.estoy.deacuerdo{% endtrans %}</button>
												</div>
											{% else %}
												<div class='col-lg-10'>
													{% trans from "label" %}no.ha.sido.calculado{% endtrans %}
												</div>
											{% endif %}
									</div>
								</div>
							</div>
						</div>
					</section>
					
				</aside>

				<aside class="profile-info col-lg-8">

					
					<div class="panel-group m-bot20" id="accordion">
                          
                              {% for mentoria in mentorias %}
                              
                              <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ mentoria.id }}">
                                          {% trans from "label" %}calificacion.mentoria REVISA TITULO{% endtrans %} #1
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapse_{{ mentoria.id }}" class="panel-collapse in" style="height: auto;">
                                  <div class="panel-body">
										<form action="{{ path('calificar_mentor', {'perfilId' : perfil.usuarioId }) }}" method='POST' {{ form_enctype(mentoria.form) }} id="calificar_mentoria_{{ mentoria.id }}" type="post" class="form-horizontal" role="form">
											<div class="form-group">
												<label class="col-lg-4 control-label">{% trans from "label" %}calificacion{% endtrans %}: </label>
												<div class="col-lg-8">
													{{ form_widget(mentoria.form.calificacion, { 'id' : 'form_calificacion'~mentoria.id}) }}
													<div class="rateit bigstars" data-rateit-backingfld="#form_calificacion{{ mentoria.id }}" data-rateit-max="5" data-rateit-starwidth="31" data-rateit-starheight="32"></div>
												</div>
												
											</div>


											<div class="form-group">
												<label class="col-lg-4 control-label">{% trans from "label" %}resena{% endtrans %}: </label>
												<div class="col-lg-8">{{ form_widget(mentoria.form.resena, { attr : {'class':'form-control', 'STYLE':'width:80%'}}) }}</div>
											</div>
											<div class="form-group">
												<div class="col-lg-12">DAtos de la mentoria realizada el: xsass
												</div>
											</div>
											
											{# form(mentoria.form) #}
											{{ form_widget(mentoria.form._token) }}
											{{ form_errors(mentoria.form) }}
											<div class="form-group">
												<div class="col-lg-12" STYLE='text-align:right;padding-right:60px;'>
													<button type="submit" data-id='{{ mentoria.id }}' class="btn btn-info btn-save-calificacion">{% trans from "label" %}guardar.cambios{% endtrans %}</button>
												</div>
											</div>
										</form>	
                                  </div>
                              </div>
                              </div>
                              {% endfor %}
                          
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                          Collapsible Group Item #2
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                                  <div class="panel-body">
                                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                          Collapsible Group Item #3
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                  </div>
                              </div>
                          </div>
                      </div>
	
					<section class="panel">
						<div class="panel-body bio-graph-info">
							<h1>{% trans from "label" %}perfil.mentor{% endtrans %}</h1>
							<div class="row-desk col-lg-12 row paddBtn">
								<div class='col-lg-4'>{% trans from "label" %}perfil.nombre{% endtrans %}:</div>
								<div class='col-lg-8'>{{ perfil.usuarioApellido }}&nbsp;{{ perfil.usuarioNombre }}</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.no.personas.ayudadas{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}no.personas.ayudadas{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.grado{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}grado{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.solicitudes.de.mentorias{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}solicitudes.de.mentorias{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.amigos.y.mentores{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}amigos.y.mentores{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.ajustes{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}ajustes{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
						</div>
					</section>

					{# ESTUDIOS #}
					{% if estudios %}
						<section class="panel">
							<div class="row">
								<div class="col-lg-12">
									<div class="panel">
										<div class="panel-body bio-graph-info">
											<h1><i class='icon-trophy'></i> {% trans from "label" %}estudios{% endtrans %}</h1>
											{% for estudio in estudios %}
												<div class='row-desk col-lg-12 row'>
													<div class='col-lg-12'>
														<b>{{ estudio.nombreInstitucion }}</b>
														<br>{{ estudio.titulo }}
														{% if estudio.campo %} , {{ estudio.campo }}{% endif %}
														
														<br>
														<div STYLE='padding-bottom:5px;'>
														{% if estudio.fechaInicio %}
															{{ estudio.fechaInicio|date('Y') }}
															{% if estudio.fechaFinal %}
															- {{ estudio.fechaFinal|date('Y') }}<br>
															{% endif %}
														{% endif %}
														</div>
														{% if estudio.actividad %}
															<b>{% trans from "label" %}actividad{% endtrans %}:</b> {{ estudio.actividad }}<br>
														{% endif %}
														{% if estudio.notas %}
															<b>{% trans from "label" %}notas{% endtrans %}:</b> {{ estudio.notas }}{% endif %}<br>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</section>
					{% endif %}


					{# TRABAJOS #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1><i class='icon-file-text'></i>&nbsp;{% trans from "label" %}experiencia.laboral{% endtrans %}</h1>
										{% for trabajo in trabajos %}
											<div class='row-desk col-lg-12 row paddBtnEstTrb'>
												<div class='col-lg-12'>
													<b>{{ trabajo.cargo }}</b><br>
													{{ trabajo.empresa.nombre }}<br>
													{% if trabajo.fechaInicio %}
														{{ trabajo.fechaInicio|date('M \\d\\e Y') }} -
														{% if trabajo.fechaFinal %}
															{{ trabajo.fechaFinal|date('M \\d\\e Y') }}<br>
														{% elseif trabajo.esActual %}
															{% trans from "label" %}actualmente{% endtrans %}<br>
														{% endif %}
													{% endif %}
													{% if trabajo.resumen %}
														<b>{% trans from "label" %}actividad{% endtrans %}:</b> {{ trabajo.resumen }}<br>
													{% endif %}
												</div>
											</div>
											
										{% endfor %}
										
										<div class='col-lg-12 row'>
											<div class='col-lg-6'><b>{% trans from "label" %}hoja.vida{% endtrans %}</b><br>
												<div class='col-lg-12'>
													{% if perfil.usuarioHojaVida %}
														<a href='{{ asset(rutas.HV ~ perfil.usuarioHojaVida) }}' target='_blank'>
															<img src='{{ asset('img/pdf.png') }}' STYLE='width:60px;padding-top:5px;' />
														</a>
													{% else %}{% trans from "label" %}no.ha.sido.suministrada{% endtrans %}
													{% endif %}
												</div>
											</div>

											<div class='col-lg-6 '><b>{% trans from "label" %}tarjeta.profesional{% endtrans %}</b><br>
												<div class='col-lg-12'>
													{% if perfil.usuarioTarjetaProfesional %}
														<a href='{{ asset(rutas.TP ~ perfil.usuarioTarjetaProfesional) }}' target='_blank'>
															<img src='{{ asset('img/pdf.png') }}' STYLE='width:60px;padding-top:5px;' />
														</a>	
													{% else %}{% trans from "label" %}no.ha.sido.suministrada{% endtrans %}
													{% endif %}
												</div>
											</div>
										</div>

										<br>
										<div class='col-lg-12 row'>
										<p STYLE='text-align:right;'>{% trans from "label" %}esta.informacion.sera.validada{% endtrans %}</p>
										</div>

									</div>
								</div>
							</div>
						</div>
					</section>

				</aside>

			{% endif %}
		</div>
	</div>
	<div class='col-lg-3' color='red'>
		<div><h2>PUBLICIDAD</h2></div>
	</div>


	
{% endblock body %}



{% block script %}
	<script src="{{ asset('rateit/src/jquery.rateit.js') }}" type="text/javascript"></script>

	<script>
		//$(".btn-save-calificacion").click(function (e){
		$("body").on("submit", "form", function(e) {
			e.preventDefault();
			var mentoriaId = $(this).data('id');
			var form = $(this);
			var parent = form.parent();
			alert('dsa');
			
			
			
					$.ajax({
					  type: "POST",
					  url: form.attr('action'),
					  data: form.serialize(),
					  dataType: "script",
					  beforeSend: function(objeto){
						parent.html('<div STYLE="text-align:center;" class="loading-center"><img src="{{ asset('img/loading.gif')}}"></div>');
						//$("#invitaciones").html("Mensaje: Cargando...");
					  },
					  success: function(response){
					  if  (response.status == 'success') {
						msgtext = '<a STYLE="text-align:center;width:100%;" type="button" class="btn btn-success btn-xs">'+response.message+'</a>'
					  } else {
						msgtext = '<a STYLE="text-align:center;width:100%" type="button" class="btn btn-danger btn-xs">'+ response.message+'</a>'
					  }
						alert ('ok');
						if (msg == 1) {
							
						} else {
							
						}
						parent.animate("slow");
						parent.html(msgtext);
						
					  },
					  error: function(objeto, quepaso, otroobj){
						msgtext = '<a STYLE="text-align:center;width:100%" type="button" class="btn btn-danger btn-xs">Ocurrio un error al calificar</a>'
						parent.animate("slow");
						parent.html(msgtext);
						//msgtext = '<a STYLE="text-align:center;" type="button" class="btn btn-danger btn-xs">Ocurrio un error al calificar</a>'
						//alert("ERROR!! La Put... madre. Pasó lo siguiente: "+quepaso);
						//alert ('errror')
					  }

				});
			
		});


		
	

	 $("#clsRateit").bind('rated', function (event, value) { console.log(value); });
	</script>
{% endblock %}

