{% extends "::base.html.twig" %}

{% block style %}
	<style>
		.paddBtn{
			padding-bottom: 10px;
		}
		.paddBtnEstTrb{
			padding-bottom: 30px;
		}

		div.bigstars div.rateit-range {
			background: url({{ asset('rateit/star-white32.png') }});
			height: 32px !important;
		}
	 
		div.bigstars div.rateit-hover {
			background: url({{ asset('rateit/star-gold32.png') }});
		}
	 
		div.bigstars div.rateit-selected {
			background: url({{ asset('rateit/star-gold32.png') }});
		}
	 
		div.bigstars div.rateit-reset {
			background: url({{ asset('rateit/star-black32.png') }});
			width: 32px !important;
			height: 32px !important;;
		}
	 
		div.bigstars div.rateit-reset:hover {
			background: url({{ asset('rateit/star-white32.png') }});
		}
	</style>
	<link href="{{ asset('css/vocationet/rateit.css') }}" rel="stylesheet"/>
	<link href="{{ asset('rateit/src/rateit.css')}}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block menu %}
	{% include '::menu.html.twig' %}
{% endblock menu %}

{% block body %}
	{% set span = (publicidad) ? 9 : 12 %}
	<div class='col-lg-{{ span }}'>
		<div class="row">
			{# PERFIL MENTOR #}
			{% if perfil %}
				<aside class="profile-nav col-lg-4">

					{# IMAGEN DE PERFIL Y NOMBRE #}
					<section class="panel">
						<div class="user-heading round">
							{% set imagen = (perfil.usuarioImagen) ? perfil.usuarioImagen : gui_default_img %}
							<a href="#"><img src="{{ asset(imagen ~ '?type=large') }}" alt=""></a>
							<h1>{{ perfil.usuarioApellido }}&nbsp;{{ perfil.usuarioNombre }}</h1>
							<p>{{ perfil.usuarioEmail }}</p>
							<p>{{ perfil.nombreRol|trans({}, "db") }}</p>
						</div>
						
						<ul class="nav nav-pills nav-stacked">
							<li class="active"> <a href="{{ path('perfil', {'perfilId' : perfil.usuarioId }) }}"> <i class="icon-user"></i> {% trans from "label" %}perfil{% endtrans %}</a></li>
							{% if sess_user.id == perfil.usuarioId %}
								<li> <a href="{{ path('perfil_edit') }}"> <i class="icon-edit"></i> {% trans from "label" %}editar.perfil{% endtrans %}</a></li>
								<li> <a href="{{ path('perfil_sincronizar')}}"> <i class="icon-linkedin"></i> {% trans from "label" %}sincronizar.perfil{% endtrans %}</a></li>
							{% else %}
								<li> <a href="{{ path('horarios_disponibles_mentor', {'perfilId' : perfil.usuarioId })}}"> <i class="icon-calendar"></i> {% trans from "label" %}disponibilidad{% endtrans %}</a></li>
							{% endif %}
							<li> <a href="{{ path('mentor_resenas', {'perfilId' : perfil.usuarioId })}}"> <i class="icon-file-text-alt"></i> {% trans from "label" %}resenas{% endtrans %}</a></li>
						</ul>
					</section>

					{# EXTRACTO #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1>{% trans from "label" %}extracto{% endtrans %}</h1>
										<div class='col-lg-12 row'><b>{% trans from "label" %}perfil.profesional{% endtrans %}</b></div><br>
										<div class='col-lg-12'>
											{{ perfil.usuarioPerfilProfesional|default('no.ha.sido.suministrada'|trans({}, "label" )) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					
					{# HISTORIAL #}
					{#<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1>{% trans from "label" %}historial{% endtrans %}</h1>
										<div class='col-lg-12 row'><b>{% trans from "label" %}no.encuentas.realizadas{% endtrans %}</b></div><br>
										<div class='col-lg-12'>PENDIENTE</div>
										<hr>
										<div class='col-lg-12 row'><b>{% trans from "label" %}mentorias.realizadas{% endtrans %}</b></div><br>
										<div class='col-lg-12'>PENDIENTE</div>
									</div>
								</div>
							</div>
						</div>
					</section>#}

					{# VALORACIONES DE CLIENTES - PERFIL MENTORES #}
					{% if perfil.rolId == 2 or perfil.rolId == 3 %}
						<section class="panel">
							<div class="row">
								<div class="col-lg-12">
									<div class="panel">
										<div class="panel-body bio-graph-info">
											<h1>{% trans from "label" %}valoraciones.de.clientes{% endtrans %}</h1>
											<div class='col-lg-12 row'><b>{% trans from "label" %}promedio.de.valoracion{% endtrans %}</b></div><br>
											<div class='col-lg-12' >
												{% set estrellasPromedio = (calificaciones.totalCalificacion > 0) ? (( calificaciones.totalCalificacion / calificaciones.totalUsuarios)) : 0 %}

												<div class='col-lg-6' STYLE='text-align:right;padding:0 3px 0 3px;'>
													<div class="rateit" data-rateit-value="{{ estrellasPromedio }}" data-rateit-max="5" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-starwidth="16"></div>
												</div>
												<div class='col-lg-6'>
													{{ calificaciones.totalUsuarios }}&nbsp;{% trans from "label" %}valoraciones{% endtrans %}
												</div>
												<br><hr>

												{# VALORACIONES DE CLIENTES - CALIFICACION ESTRELLAS #}
												{% for i in 5..0 %}
													{% set porcent = (calificaciones.totalUsuarios > 0) ? ((calificaciones[i] / calificaciones.totalUsuarios) * 100) : 0 %}
													<div class='col-lg-7' STYLE='text-align:right;padding:0 3px 0 3px;'>
														<div class="rateit" data-rateit-value="{{ i }}" data-rateit-max="{{ i }}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-starwidth="16"></div>
													</div>
													<div class='col-lg-5'>
														<div class="progress progress-xs tooltips" STYLE='margin:4px 0 0 0;' data-toggle="tooltip" data-placement="right" data-original-title="{{ calificaciones[i] }}">
															<div class="progress-bar" role="progressbar" STYLE='width:{{ porcent }}%;background-color:#5E5E5E;'></div>
														</div>
													</div>
													<br>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					{% endif %}

					{# DEFINICION DEL VALOR DE MENTORIA - EXCLUSIVO DE MENTOR EXPERTO #}
					{% if perfil.rolId == 2 %}
						<section class="panel">
							<div class="row">
								<div class="col-lg-12">
									<div class="panel">
										<div class="panel-body bio-graph-info">
											<h1>{% trans from "label" %}definicion.de.valor.mentoria{% endtrans %}</h1>
											{#<p>{% trans from "label" %}explicacion.definicion.de.valor.mentoria{% endtrans %}</p>#}
											<div class='col-lg-12 row'><b>{% trans from "label" %}valor{% endtrans %}: </b></div>
											<div class='col-lg-2'>&nbsp;</div>
											{% if perfil.usuarioValorMentoria %}
												<div class='col-lg-10'>
													<h1><b>$ {{ perfil.usuarioValorMentoria|number_format(0, '', '.') }}</b></h1>
												</div>
												{#
													<br>
													<div class="row-desk col-lg-12 row paddBtn" style='text-align:center;'>
														<button type="button" class="btn btn-shadow btn-success">{% trans from "label" %}no.estoy.deacuerdo{% endtrans %}</button>
													</div>
												#}
											{% else %}
												<div class='col-lg-10'>
													{% trans from "label" %}no.ha.sido.calculado{% endtrans %}
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</section>
					{% endif %}
					
				</aside>

				<aside class="profile-info col-lg-8">

					{% if (camposvacios.total > 0) and (sess_user.id == perfil.usuarioId) %}
						<div class="alert alert-danger fade in" >
							<button data-dismiss="alert" class="close close-sm" type="button">
								<i class="icon-remove"></i>
							</button>
							<div class='redirectEdit' data-href="{{ path('perfil_edit') }}" STYLE='cursor:pointer'>
							<strong>{% trans from "label" %}aun.falta.la.siguiente.informacion{% endtrans %}</strong><br>
							{% if camposvacios.rol %}
								<i class='icon-long-arrow-right'></i>&nbsp;{{ 'definicion.mentor'|trans({}, "label" ) }}<br>{% endif %}
							{% if camposvacios.valorhora %}
								<i class='icon-long-arrow-right'></i>&nbsp;{{ 'valor.mentoria'|trans({}, "label" ) }}<br>{% endif %}
							{% if camposvacios.tarjetaProfesional %}
								<i class='icon-long-arrow-right'></i>&nbsp;{{ 'tarjeta.profesional'|trans({}, "label" ) }}<br>{% endif %}
							{% if camposvacios.hojaVida %}
								<i class='icon-long-arrow-right'></i>&nbsp;{{ 'hoja.vida'|trans({}, "label" ) }}<br>{% endif %}
							</div>
						</div>
					{% endif %}

					{# CALIFICACION DE MENTORIAS #}
					{% if mentorias %}
						<div class="panel-group m-bot20" id="accordion">
							{% set auxCollapsed = 1 %}
							{% for mentoria in mentorias %}
								<div class="panel panel-default" id="calificarMentoriaContainer_{{ mentoria.id }}">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ mentoria.id }}">
												{% trans from "label" %}por.favor.califique.la.mentoria.realizada.el{% endtrans %}&nbsp;{{ mentoria.mentoriaInicio|date('Y-m-d')}}
											</a>
										</h4>
									</div>
									
									<div id="collapse_{{ mentoria.id }}" class="panel-collapse {% if auxCollapsed == 0 %}collapse{% else %} in {% endif %}" style="height: auto;">
										<div class="panel-body">
											<form action="{{ path('calificar_mentor', {'perfilId' : perfil.usuarioId, 'mentoriaId' : mentoria.id }) }}" method='POST' {{ form_enctype(mentoria.form) }} id="calificar_mentoria_{{ mentoria.id }}" type="post" class="form-horizontal" role="form" data-id='{{ mentoria.id }}'>
												<div class="form-group">
													<label class="col-lg-3 control-label">{% trans from "label" %}calificacion{% endtrans %}: </label>
													<div class="col-lg-9">
														{{ form_widget(mentoria.form.calificacion, { 'id' : 'form_calificacion'~mentoria.id}) }}
														<div class="rateit bigstars" data-rateit-backingfld="#form_calificacion{{ mentoria.id }}" data-rateit-max="5" data-rateit-starwidth="31" data-rateit-starheight="32"></div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-lg-3 control-label">{% trans from "label" %}resena{% endtrans %}: </label>
													<div class="col-lg-9">{{ form_widget(mentoria.form.resena, { attr : {'class':'form-control', 'STYLE':'width:80%'}}) }}</div>
												</div>
												
												{# form(mentoria.form) #}
												
												{{ form_widget(mentoria.form.mentoriaId) }}
												{{ form_widget(mentoria.form._token) }}
												{{ form_errors(mentoria.form) }}
												<div class="form-group">
													<div class="col-lg-12" STYLE='text-align:right;padding-right:60px;'>
														<button type="submit" class="btn btn-info btn-save-calificacion">{% trans from "label" %}calificar{% endtrans %}</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								{% set auxCollapsed = 0 %}
							{% endfor %}
						</div>
					{% endif %}
	
					<section class="panel">
						<div class="panel-body bio-graph-info">
							<h1>{% trans from "label" %}perfil.mentor{% endtrans %}</h1>
							<div class="row-desk col-lg-12 row paddBtn">
								<div class='col-lg-4'>{% trans from "label" %}perfil.nombre{% endtrans %}:</div>
								<div class='col-lg-8'>{{ perfil.usuarioApellido }}&nbsp;{{ perfil.usuarioNombre }}</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.no.personas.ayudadas{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}no.personas.ayudadas{% endtrans %}:
								</div>
								<div class='col-lg-8'>{{ calificaciones.totalUsuarios }}</div>
							</div>
							{#<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.grado{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}grado{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.solicitudes.de.mentorias{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}solicitudes.de.mentorias{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.amigos.y.mentores{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}amigos.y.mentores{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.ajustes{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}ajustes{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>#}
						</div>
					</section>

					{# ESTUDIOS #}
					{% if estudios %}
						<section class="panel">
							<div class="row">
								<div class="col-lg-12">
									<div class="panel">
										<div class="panel-body bio-graph-info">
											<h1><i class='icon-trophy'></i> {% trans from "label" %}estudios{% endtrans %}</h1>
											{% for estudio in estudios %}
												<div class='row-desk col-lg-12 row'>
													<div class='col-lg-12'>
														<b>{{ estudio.nombreInstitucion }}</b>
														<br>{{ estudio.titulo }}
														{% if estudio.campo %} , {{ estudio.campo }}{% endif %}
														
														<br>
														<div STYLE='padding-bottom:5px;'>
														{% if estudio.fechaInicio %}
															{{ estudio.fechaInicio|date('Y') }}
															{% if estudio.fechaFinal %}
															- {{ estudio.fechaFinal|date('Y') }}<br>
															{% endif %}
														{% endif %}
														</div>
														{% if estudio.actividad %}
															<b>{% trans from "label" %}actividad{% endtrans %}:</b> {{ estudio.actividad }}<br>
														{% endif %}
														{% if estudio.notas %}
															<b>{% trans from "label" %}notas{% endtrans %}:</b> {{ estudio.notas }}{% endif %}<br>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</section>
					{% endif %}


					{# TRABAJOS #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1><i class='icon-file-text'></i>&nbsp;{% trans from "label" %}experiencia.laboral{% endtrans %}</h1>
										{% for trabajo in trabajos %}
											<div class='row-desk col-lg-12 row paddBtnEstTrb'>
												<div class='col-lg-12'>
													<b>{{ trabajo.cargo }}</b><br>
													{{ trabajo.empresa.nombre }}<br>
													{% if trabajo.fechaInicio %}
														{{ trabajo.fechaInicio|date('M \\d\\e Y') }} -
														{% if trabajo.fechaFinal %}
															{{ trabajo.fechaFinal|date('M \\d\\e Y') }}<br>
														{% elseif trabajo.esActual %}
															{% trans from "label" %}actualmente{% endtrans %}<br>
														{% endif %}
													{% endif %}
													{% if trabajo.resumen %}
														<b>{% trans from "label" %}actividad{% endtrans %}:</b> {{ trabajo.resumen }}<br>
													{% endif %}
												</div>
											</div>
											
										{% endfor %}
										
										<div class='col-lg-12 row'>
											<div class='col-lg-6'><b>{% trans from "label" %}hoja.vida{% endtrans %}</b><br>
												<div class='col-lg-12'>
													{% if perfil.usuarioHojaVida %}
														<a href='{{ asset(rutas.HV ~ perfil.usuarioHojaVida) }}' target='_blank'>
															<img src='{{ asset('img/pdf.png') }}' STYLE='width:60px;padding-top:5px;' />
														</a>
													{% else %}{% trans from "label" %}no.ha.sido.suministrada{% endtrans %}
													{% endif %}
												</div>
											</div>

											<div class='col-lg-6 '><b>{% trans from "label" %}tarjeta.profesional{% endtrans %}</b><br>
												<div class='col-lg-12'>
													{% if perfil.usuarioTarjetaProfesional %}
														<a href='{{ asset(rutas.TP ~ perfil.usuarioTarjetaProfesional) }}' target='_blank'>
															<img src='{{ asset('img/pdf.png') }}' STYLE='width:60px;padding-top:5px;' />
														</a>	
													{% else %}{% trans from "label" %}no.ha.sido.suministrada{% endtrans %}
													{% endif %}
												</div>
											</div>
										</div>

										<br>
										<div class='col-lg-12 row'>
										{#<p STYLE='text-align:right;'>{% trans from "label" %}esta.informacion.sera.validada{% endtrans %}</p>#}
										</div>

									</div>
								</div>
							</div>
						</div>
					</section>

				</aside>

			{% endif %}
		</div>
	</div>
	
	{% if publicidad %}
		<div class='col-lg-3' color='red'>
			<div>
				{% for entity in publicidad %}
					{% include 'vocationetBundle:Informacion:showInformacion.html.twig' %}
				{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock body %}

{% block script %}
	<script src="{{ asset('rateit/src/jquery.rateit.js') }}" type="text/javascript"></script>

	<script>
		$("body").on("submit", "form", function(e) {
			e.preventDefault();
			var mentoriaId = $(this).data('id');
			var form = $(this);
			var parent = form.parent();
			var container = $('#calificarMentoriaContainer_'+mentoriaId);

			$.ajax({
				type: "POST",
				url: form.attr('action'),
				data: form.serialize(),
				dataType: "json",
				beforeSend: function(objeto){
					parent.html('<div STYLE="text-align:center;" class="loading-center"><img src="{{ asset('img/loading.gif')}}"></div>');
				},
				success: function(response){
					if (response.status == 'success') {
						msgtext = '<a STYLE="text-align:center;width:100%;" type="button" class="btn btn-success btn-xs">'+response.message+'</a>'
					} else {
						msgtext = '<a STYLE="text-align:center;width:100%" type="button" class="btn btn-danger btn-xs">'+ response.message+'</a>'
					}
					parent.animate("slow");
					parent.html(msgtext);
					setTimeout(function(){ container.hide('slow'); }, 2000);
				},
				error: function(objeto, quepaso, otroobj){
					msgtext = '<a STYLE="text-align:center;width:100%" type="button" class="btn btn-danger btn-xs">{% trans from "messages" %}error.en.solicitud.calificar{% endtrans %}</a>'
					parent.animate("slow");
					parent.html(msgtext);
					setTimeout(function(){ container.hide('slow'); }, 2000);
				}
			});
		});

		//$("#clsRateit").bind('rated', function (event, value) { console.log(value); });

		$('.redirectEdit').click(function(){
			window.location = $(this).data('href');
		});
	</script>
{% endblock %}
