{% extends "::base.html.twig" %}

{% block style %}
<style>
	.paddBtn{
		padding-bottom: 10px;
	}
	.paddBtnEstTrb{
		padding-bottom: 30px;
	}

</style>
{% endblock style %}

{% block body %}

	<div class='col-lg-9'>
		<div class="row">
			<a href='{{ path('perfil_sincronizar')}}'>sincronizar</a>
			{# PERFIL MENTOR #}
			{% if perfil %}
				<aside class="profile-nav col-lg-4">

					{# IMAGEN DE PERFIL Y NOMBRE #}
					<section class="panel">
						<div class="user-heading round">
							{% set imagen = (perfil.usuarioImagen) ? perfil.usuarioImagen : gui_default_img %}
							<a href="#"><img src="{{ asset(imagen) }}" alt=""></a>
							<h1>{{ perfil.usuarioApellido }}&nbsp;{{ perfil.usuarioNombre }}</h1>
							<p>{{ perfil.usuarioEmail }}</p>
						</div>
						
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="{{ path('perfil', {'perfilId' : perfil.usuarioId }) }}"> <i class="icon-user"></i> {% trans from "label" %}perfil{% endtrans %}</a></li>
							<li class=""><a href="{{ path('perfil_edit') }}"> <i class="icon-user"></i> {% trans from "label" %}editar.perfil{% endtrans %}</a></li>
							<li data-original-title="{% trans from "label" %}descripcion.mensajes{% endtrans %}" class='tooltips' data-placement="right" data-toggle="tooltip">
								<a href="#">
									<i class="icon-inbox"></i> {% trans from "label" %}mensajes{% endtrans %}
									<span class="label label-success pull-right r-activity">5</span>
								</a>
							</li>
						</ul>
					</section>

					{# EXTRACTO #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1>{% trans from "label" %}extracto{% endtrans %}</h1>
										<div class='col-lg-12 row'><b>{% trans from "label" %}perfil.profesional{% endtrans %}</b></div><br>
										<div class='col-lg-12'>{{ perfil.usuarioPerfilProfesional }}</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					{# HISTORIAL #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1>{% trans from "label" %}historial{% endtrans %}</h1>
										<div class='col-lg-12 row'><b>{% trans from "label" %}no.encuentas.realizadas{% endtrans %}</b></div><br>
										<div class='col-lg-12'>PENDIENTE</div>
										<hr>
										<div class='col-lg-12 row'><b>{% trans from "label" %}mentorias.realizadas{% endtrans %}</b></div><br>
										<div class='col-lg-12'>PENDIENTE</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					{# DEFINICION DEL VALOR DE MENTORIA #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1>{% trans from "label" %}definicion.de.valor.mentoria{% endtrans %}</h1>
										<p>{% trans from "label" %}explicacion.definicion.de.valor.mentoria{% endtrans %}</p>
										<div class='col-lg-12 row'><b>{% trans from "label" %}valor{% endtrans %}: </b></div>
											<div class='col-lg-2'>&nbsp;</div>
											{% if perfil.usuarioValorMentoria %}
												<div class='col-lg-10'>
													<h1><b>$ {{ perfil.usuarioValorMentoria|number_format(0, '', '.') }}</b></h1>
												</div>
												<br>
												<div class="row-desk col-lg-12 row paddBtn" style='text-align:center;'>
													<button type="button" class="btn btn-shadow btn-success">{% trans from "label" %}no.estoy.deacuerdo{% endtrans %}</button>
												</div>
											{% else %}
												<div class='col-lg-10'>
													{% trans from "label" %}no.ha.sido.calculado{% endtrans %}
												</div>
											{% endif %}
									</div>
								</div>
							</div>
						</div>
					</section>
					
				</aside>

				<aside class="profile-info col-lg-8">
					<section class="panel">
						<div class="panel-body bio-graph-info">
							<h1>{% trans from "label" %}perfil.mentor{% endtrans %}</h1>
							<div class="row-desk col-lg-12 row paddBtn">
								<div class='col-lg-4'>{% trans from "label" %}perfil.nombre{% endtrans %}:</div>
								<div class='col-lg-8'>{{ perfil.usuarioApellido }}&nbsp;{{ perfil.usuarioNombre }}</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.no.personas.ayudadas{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}no.personas.ayudadas{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.grado{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}grado{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.foros{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}foros{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.solicitudes.de.mentorias{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}solicitudes.de.mentorias{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.amigos.y.mentores{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}amigos.y.mentores{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
							<div class="row-desk col-lg-12 row paddBtn">
								<div data-original-title="{% trans from "label" %}descripcion.ajustes{% endtrans %}" class='col-lg-4 tooltips' data-placement="left" data-toggle="tooltip">
									{% trans from "label" %}ajustes{% endtrans %}:
								</div>
								<div class='col-lg-8'>PENDIENTE</div>
							</div>
						</div>
					</section>

					{# ESTUDIOS #}
					{% if estudios %}
						<section class="panel">
							<div class="row">
								<div class="col-lg-12">
									<div class="panel">
										<div class="panel-body bio-graph-info">
											<h1>{% trans from "label" %}estudios{% endtrans %}</h1>
											{% for estudio in estudios %}
												<div class='row-desk col-lg-12 row paddBtnEstTrb'>
													<div class='col-lg-12'>
	
														<b>{{ estudio.nombreInstitucion }}</b><br>
														{{ estudio.titulo }}
														<hr STYLE='border-rop-width:3px;margin-top:1px;margin-bottom:2px;'>
														{% if estudio.fechaInicio %}
															<b>{% trans from "label" %}fecha.inicio{% endtrans %}:</b> {{ estudio.fechaInicio|date('y-m-d') }}<br>
														{% endif %}
														{% if estudio.fechaFinal %}
															<b>{% trans from "label" %}fecha.fin{% endtrans %}:</b> {{ estudio.fechaFinal|date('y-m-d') }}<br>
														{% endif %}
														
														{% if estudio.actividad %}
															<b>{% trans from "label" %}actividad{% endtrans %}:</b> {{ estudio.actividad }}<br>
														{% endif %}

														{% if estudio.notas %}
															<b>{% trans from "label" %}notas{% endtrans %}:</b> {{ estudio.notas }}<br>
														{% endif %}
														
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</section>
					{% endif %}


					{# TRABAJOS #}
					<section class="panel">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel">
									<div class="panel-body bio-graph-info">
										<h1>{% trans from "label" %}experiencia.laboral{% endtrans %}</h1>
										{% for trabajo in trabajos %}
											<div class='row-desk col-lg-12 row paddBtnEstTrb'>
												<div class='col-lg-12'>

													<b>{{ trabajo.empresa.nombre }}</b><br>
													{{ trabajo.cargo }}&nbsp;{% if trabajo.esActual %}({% trans from "label" %}actualmente{% endtrans %}){% endif %}
													<hr STYLE='border-rop-width:3px;margin-top:1px;margin-bottom:2px;'>
													{% if trabajo.fechaInicio %}
														<b>{% trans from "label" %}fecha.inicio{% endtrans %}:</b> {{ trabajo.fechaInicio|date('y-m-d') }}<br>
													{% endif %}
													{% if trabajo.fechaFinal %}
														<b>{% trans from "label" %}fecha.fin{% endtrans %}:</b> {{ trabajo.fechaFinal|date('y-m-d') }}<br>
													{% endif %}
													
													{% if trabajo.resumen %}
														<b>{% trans from "label" %}actividad{% endtrans %}:</b> {{ trabajo.resumen }}<br>
													{% endif %}

												</div>
											</div>
										{% endfor %}
										
										<div class='col-lg-12 row'>
											<div class='col-lg-6'><b>{% trans from "label" %}hoja.vida{% endtrans %}</b><br>
												<div class='col-lg-12'>
													{% if perfil.usuarioHojaVida %}
														<a href='{{ asset(rutas.HV ~ perfil.usuarioHojaVida) }}' target='_blank'>
															<img src='{{ asset('img/pdf.png') }}' STYLE='width:60px;padding-top:5px;' />
														</a>
													{% else %}{% trans from "label" %}no.ha.sido.suministrada{% endtrans %}
													{% endif %}
												</div>
											</div>

											<div class='col-lg-6 '><b>{% trans from "label" %}tarjeta.profesional{% endtrans %}</b><br>
												<div class='col-lg-12'>
													{% if perfil.usuarioTarjetaProfesional %}
														<a href='{{ asset(rutas.TP ~ perfil.usuarioTarjetaProfesional) }}' target='_blank'>
															<img src='{{ asset('img/pdf.png') }}' STYLE='width:60px;padding-top:5px;' />
														</a>	
													{% else %}{% trans from "label" %}no.ha.sido.suministrada{% endtrans %}
													{% endif %}
												</div>
											</div>
										</div>

										<br>
										<div class='col-lg-12 row'>
										<p STYLE='text-align:right;'>{% trans from "label" %}esta.informacion.sera.validada{% endtrans %}</p>
										</div>

									</div>
								</div>
							</div>
						</div>
					</section>

				</aside>

			{% endif %}
		</div>
	</div>
	<div class='col-lg-3' color='red'>
		<div><h2>PUBLICIDAD</h2></div>
	</div>
{% endblock body %}
