{% extends '::base.html.twig' %}

{% block menu %}
	{% set active = 'informacion' %}
	{% include '::menu.html.twig' %}
{% endblock menu %}

{% block body %}
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading">{% trans from "label" %}nueva.informacion{% endtrans %}</header>
			<div class="panel-body">
				<form class="form-horizontal" action="{{ path('admin_informacion_edit', {'id': entity.id }) }}" method="POST" {{ form_enctype(form) }}>
					<div class="form-group">
						<label class="col-lg-2 control-label">{% trans from "label" %}titulo{% endtrans %}</label>
						<div class="col-lg-10"><p class="help-block">{{ form_widget(form.informacionTitulo, {'attr': {'class':'form-control', 'style':'width:80%;'}} ) }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">{% trans from "label" %}imagen{% endtrans %}</label>
						<div class="col-lg-10">
                            {{ form_widget(form.informacionImagen, {'attr': {'class':'form-control', 'style':'width:80%;'} } ) }}
                            <p class="help-block">{% trans from "label" %}tamano.max.archivos{% endtrans %}</p>
                        </div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">{% trans from "label" %}enlace{% endtrans %}</label>
						<div class="col-lg-10"><p class="help-block">{{ form_widget(form.informacionLink, {'attr': {'class':'form-control', 'style':'width:80%;'}} ) }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">{% trans from "label" %}destino{% endtrans %}</label>
						<div class="col-lg-8"><p class="help-block">{{ form_widget(form.informacionDestino, {'attr': {'class':'form-control'}} ) }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">&nbsp;</label>
						<div class="col-lg-2">
							<div class="checkbox"> {{ form_widget(form.informacionEstado) }} {% trans from "label" %}visible{% endtrans %} </div>
						</div>
					</div>
					
					{{ form_errors(form) }}
                    {{ form_widget(form._token) }}
					<div class="form-group">
						<div class="col-lg-12 text-center">
							<a class="btn btn-default" href="{{ path('admin_informacion') }}">
								{{ 'listado'|trans({}, 'label') }}</a>
							<button type="submit" class="btn btn-success">{{ 'guardar.cambios'|trans({}, 'label') }}</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
{% endblock %}
