{% extends "::base.html.twig" %}

{% block style %}
	<link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}" type="text/css">

	<style>
		#owl-demo .item{
			background: #58C9F3;
			padding: 3px 3px;
			margin: 5px;
			color: #FFF;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-align: center;
			overflow: hidden;
			text-overflow:ellipsis;
			cursor: pointer;
		}
		#owl-demo .item.active{
			background: #F8D347;    
		}
		#owl-demo .item img{
			width: 100%;
			height: auto;
		}
		#owl-demo .item .title-item{
			padding-top: 5px;
			height: 50px;
			line-height: 15px;
			vertical-align: middle;
		}
	</style>
{% endblock style %}

{% block menu %}
	{% set active = 'home' %}
	{% include '::menu.html.twig' %}
{% endblock menu %}

{% block body %}

<div class="row">
    <div class="col-lg-8">	
        <section class="panel">
            <div class="panel-body" style='padding:0px;'>

				<div width="1000" height="500">
					<img src="{{ asset(getParameter('ruta_mapa_vocationet')) }}" width="1000" height="500" alt="mapaVocationet" usemap="#vocationetmap">

					<map name="vocationetmap">
						<area alt="{% trans from 'label' %}inicio{% endtrans %}" shape="circle" coords="148,317,14">
						<area alt="{% trans from 'label' %}diagnostico{% endtrans %}" shape="circle" coords="315,357,14" href="{{ path('diagnostico') }}" />
						<area alt="{% trans from 'label' %}asesoria.ov{% endtrans %}" shape="rect" coords="441,372,462,399" href="{{ path('lista_mentores_ov') }}" />
						<area alt="{% trans from 'label' %}test.vocacional{% endtrans %}" shape="circle" coords="566,356,14" href="{{ path('test_vocacional') }}" />
						<area alt="{% trans from 'label' %}asesoria.ov{% endtrans %}" shape="rect" coords="592,288,615,315" href="{{ path('agenda_estudiante') }}" />
						<area alt="{% trans from 'label' %}evaluacion.360{% endtrans %}" shape="circle" coords="569,248,14" href="{{ path('evaluacion360') }}" />
						<area alt="{% trans from 'label' %}asesoria.ov{% endtrans %}" shape="rect" coords="451,286,473,309" href="{{ path('agenda_estudiante') }}" />
						<area alt="{% trans from 'label' %}diseno.vida{% endtrans %}" shape="circle" coords="382,245,14" href="{{ path('diseno_vida') }}" />
						<area alt="{% trans from 'label' %}asesoria.ov{% endtrans %}" shape="rect" coords="370,173,390,197" href="{{ path('agenda_estudiante') }}" />
						<area alt="{% trans from 'label' %}mercado.laboral{% endtrans %}" shape="circle" coords="253,120,14" href="{{ path('mercado_laboral') }}" />
						<area alt="{% trans from 'label' %}asesoria.ov{% endtrans %}" shape="rect" coords="324,110,343,136" href="{{ path('agenda_estudiante') }}" />
						<area alt="{% trans from 'label' %}red.mentores{% endtrans %}" shape="rect" coords="399,48,437,97" href="{{ path('red_mentores') }}" />
						<area alt="{% trans from 'label' %}ponderacion{% endtrans %}" shape="circle" coords="548,134,14" href="{{ path('ponderacion') }}" />
						<area alt="{% trans from 'label' %}asesoria.ov{% endtrans %}" shape="rect" coords="618,124,639,149" href="{{ path('agenda_estudiante') }}" />
					</map>
					
					<!-- recorrido inicio - diagnostico -->
					<div STYLE='background:blue;width:72px;height:4px;position:absolute;top:314px;left:175px;'></div>
					<div STYLE='background:blue;width:4px;height:45px;position:absolute;top:314px;left:246px;'></div>
					<div STYLE='background:blue;width:72px;height:4px;position:absolute;top:356px;left:246px;'></div>
                    
                    <!-- recorrido diagnostico- EOV  -->
                    <div STYLE='background:blue;width:57px;height:4px;position:absolute;top:356px;left:341px;'></div>
					<div STYLE='background:blue;width:4px;height:33px;position:absolute;top:356px;left:396px;'></div>                    
                    <div STYLE='background:blue;width:60px;height:4px;position:absolute;top:385px;left:396px;'></div>
                    
                     <div STYLE='background:blue;width:47px;height:4px;position:absolute;top:385px;left:476px;'></div>
   					<div STYLE='background:blue;width:4px;height:33px;position:absolute;top:356px;left:520px;'></div> 
                     <div STYLE='background:blue;width:49px;height:4px;position:absolute;top:356px;left:521px;'></div>
                    
                    <div STYLE='background:blue;width:29px;height:4px;position:absolute;top:356px;left:591px;'></div>
   					<div STYLE='background:blue;width:4px;height:44px;position:absolute;top:312px;left:616px;'></div> 
                    
                    <div STYLE='background:blue;width:27px;height:4px;position:absolute;top:298px;left:582px;'></div>
   					<div STYLE='background:blue;width:4px;height:40px;position:absolute;top:262px;left:582px;'></div>
                    
                    <div STYLE='background:blue;width:45px;height:4px;position:absolute;top:249px;left:527px;'></div>
   					<div STYLE='background:blue;width:4px;height:48px;position:absolute;top:250px;left:527px;'></div>
                    <div STYLE='background:blue;width:43px;height:4px;position:absolute;top:296px;left:488px;'></div>
                    
                    <div STYLE='background:blue;width:73px;height:4px;position:absolute;top:296px;left:395px;'></div>
   					<div STYLE='background:blue;width:4px;height:40px;position:absolute;top:259px;left:395px;'></div>

   					<div STYLE='background:blue;width:4px;height:37px;position:absolute;top:195px;left:395px;'></div>
                    
                    <div STYLE='background:blue;width:119px;height:4px;position:absolute;top:183px;left:266px;'></div>
   					<div STYLE='background:blue;width:4px;height:50px;position:absolute;top:135px;left:266px;'></div>
				
				<div>
			</div>
        </section>
    </div>
	

    {# invitaciones a evaluaciones 360 #}
    {% if invitaciones360 %}
    <div class="col-lg-4">
        <section class="panel">
            <div class="panel-body">
                {% for invitacion in invitaciones360 %}
                    <div class="alert alert-info fade in">
                        <strong>{{ invitacion.usuarioNombre ~' '~ invitacion.usuarioApellido }}</strong>
                        {% trans from "label" %}te.ha.invitado.a.su.evaluacion.360{% endtrans %}.
                        {% trans from "label" %}para.participar{% endtrans %}
                        <a href="{{ path("evaluacion360_evaluacion", {"id": invitacion.usuarioEvaluado } ) }}" style="text-decoration: underline;">{% trans from "label" %}haz.click.aqui{% endtrans %}</a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
    {% endif %}
        
        {#
        <section class="panel">
            <div class="panel-body">
                <div id="owl-demo" class="owl-carousel owl-theme">
                  <div class="item" data-id="11"><img src="{{ asset('img/avatars/avatar1.jpg') }}"/><div class="title-item">Avatar 1</div></div>
                  <div class="item" data-id="12"><img src="{{ asset('img/avatars/avatar2.jpg') }}"/><div class="title-item">Avatar 2</div></div>
                  <div class="item" data-id="13"><img src="{{ asset('img/avatars/avatar3.jpg') }}"/><div class="title-item">Avatar 3</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar1.jpg') }}"/><div class="title-item">Avatar 1</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar2.jpg') }}"/><div class="title-item">Avatar 2</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar3.jpg') }}"/><div class="title-item">Avatar 3</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar1.jpg') }}"/><div class="title-item">Avatar 1 con texto largo para prueba de css</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar2.jpg') }}"/><div class="title-item">Avatar 2 con texto largo para prueba de css</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar3.jpg') }}"/><div class="title-item">Avatar 3 con texto largo para prueba de css</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar1.jpg') }}"/><div class="title-item">Avatar 1</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar2.jpg') }}"/><div class="title-item">Avatar 2</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar3.jpg') }}"/><div class="title-item">Avatar 3</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar1.jpg') }}"/><div class="title-item">Avatar 1</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar2.jpg') }}"/><div class="title-item">Avatar 2</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar3.jpg') }}"/><div class="title-item">Avatar 3</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar1.jpg') }}"/><div class="title-item">Avatar 1</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar2.jpg') }}"/><div class="title-item">Avatar 2</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar3.jpg') }}"/><div class="title-item">Avatar 3</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar1.jpg') }}"/><div class="title-item">Avatar 1</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar2.jpg') }}"/><div class="title-item">Avatar 2</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar3.jpg') }}"/><div class="title-item">Avatar 3</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar1.jpg') }}"/><div class="title-item">Avatar 1</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar2.jpg') }}"/><div class="title-item">Avatar 2</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar3.jpg') }}"/><div class="title-item">Avatar 3</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar1.jpg') }}"/><div class="title-item">Avatar 1</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar2.jpg') }}"/><div class="title-item">Avatar 2</div></div>
                  <div class="item" data-id="1"><img src="{{ asset('img/avatars/avatar3.jpg') }}"/><div class="title-item">Avatar 3</div></div>

                </div>
                <div class="olw-navigation" style="text-align: center;">
                    <button class="btn btn-info btn-xs prev" type="button"><< {% trans  from "label" %}anterior{% endtrans %}</button>
                    <button class="btn btn-info btn-xs next" type="button">{% trans  from "label" %}siguiente{% endtrans %} >></button>
                </div>    
                <div style="text-align: right;">
                    <input type="hidden" id="avatar-input" value="0"/>   
                    <button type="submit" class="btn btn-info">{% trans  from "label" %}elegir.avatar{% endtrans %}</button>
                </div>
            </div>   
        </section>
        #}
  
</div>   
{% endblock body %}

{% block script %}

	<script src="{{ asset('js/jquery-1.8.3.min.js') }}" type="text/javascript"></script>	
	{# <script src="{{ asset('qtip/jquery-1.3.2.min.js') }}" type="text/javascript"></script> #}
	<script src="{{ asset('qtip/jquery.qtip-1.0.0-rc3.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		// Create the tooltips only when document ready
		$(document).ready(function()
		{
		   // Use the each() method to gain access to each elements attributes
		   $('area').each(function() 
			{
				$(this).qtip(
				{
					content: $(this).attr('alt'), // Use the ALT attribute of the area map
					style: {
						name: 'dark', // Give it the preset dark style
						border: {
							width: 0, 
							radius: 4 
						}, 
						tip: true // Apply a tip at the default tooltip corner
					}
				});
			});
		});
	</script>
	
{#
<!--<script src="{{ asset('js/owl.carousel.js') }}" ></script>-->
<script >
 
$(document).ready(function() {
    var owl = $("#owl-demo");

    owl.owlCarousel({
      items : 6, //10 items above 1000px browser width
      itemsDesktop : [1000,4], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,3], // betweem 900px and 601px
      itemsTablet: [600,2], //2 items between 600 and 0
      itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
    });

    // Custom Navigation Events
    $(".next").click(function(){
        owl.trigger('owl.next');
    })
    $(".prev").click(function(){
        owl.trigger('owl.prev');
    })
 
    $(".item").click(function(){
        $(".item").removeClass('active');
        $(this).addClass('active');
        $("#avatar-input").val($(this).data('id'));
    });
});
</script>
#}
{% endblock script %}