{# rolId Id del rol #}

<style>
	.tour-p {
	 background-color: #FFFFFF !important;
	 text-align: justify !important;
	 padding: 0 10px 0 0 !important;
	 color: #8A3F04 !important;
	 margin: 0 0 10px !important;
	 font-size:13px !important;
	 
	}
	.tour-img {
		text-align:center;
		width:100%;
	}
</style>

<!-- Globales -->
	<div id="box_intro" class="single-step tour-p">
		<header> <h3>{% trans from "label" %}bienvenido.vocationet{% endtrans %}</h3> </header>
		<p>	{% trans from "label" %}texto.bienvenida.e.intro.tour{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/navegacion.png') }}" />
		<p>{{ "botones.navegacion"|trans({}, "label") | raw }}<p>
	</div>
	<div id="box_end" class="single-step tour-p"> <p> {% trans from "label" %}texto.finalizacion{% endtrans %} </p> </div>
	<div id="bar_box_mensajes" class="single-step tour-p"> <p> {% trans from "label" %}boton.barra.mensajes{% endtrans %} </p> </div>
	<div id="bar_box_contactos" class="single-step tour-p">
		<p> {% trans from "label" %}boton.barra.contactos{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/contactos.png') }}" />
	</div>
	<div id="box_mensajes" class="single-step tour-p">
		<p> {% trans from "label" %}boton.menu.mensajes{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/inbox.png') }}" />
	</div>
	<div id="box_foros" class="single-step tour-p">
		<p> {% trans from "label" %}boton.menu.foros{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/foros.png') }}" />
	</div>
	<div id="bar_box_usuario_logout" class="single-step tour-p"> <p class="tour-p"> {% trans from "label" %}boton.usuario.logout{% endtrans %} </p> </div>

<!-- Estudiantes -->
	<div id="bar_box_usuario" class="single-step tour-p"> <p> {% trans from "label" %}boton.usuario.estudiante{% endtrans %} </p> </div>
	<div id="bar_box_usuario_perfil" class="single-step tour-p">
		<p class="tour-p"> {% trans from "label" %}boton.usuario.perfil{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/perfil_estudiante.png') }}" />
	</div>
	<div id="bar_box_usuario_paquetes" class="single-step tour-p">
		<p class="tour-p"> {% trans from "label" %}boton.usuario.paquetes{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/paquetes.png') }}" />
	</div>
	<div id="bar_box_usuario_carrito" class="single-step tour-p">
		<p class="tour-p"> {% trans from "label" %}boton.usuario.carrito{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/carrito.png') }}" />
	</div>
	<div id="box_home" class="single-step tour-p">
		<p> {% trans from "label" %}boton.menu.home{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/index_estudiante.png') }}" />
	</div>
	<div id="box_agenda_estudiante" class="single-step tour-p">
		<p> {% trans from "label" %}boton.agenda.estudiante{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/agenda_estudiante.png') }}" />
	</div>
	<div id="box_plataforma" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.plataforma{% endtrans %} </p> </div>
	<div id="box_diagnostico" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.diagnostico{% endtrans %} </p> </div>
	<div id="box_mentor_ov" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.mentor.ov{% endtrans %} </p> </div>
	<div id="box_test_vocacional" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.test.vocacional{% endtrans %} </p> </div>
	<div id="box_eva_360" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.evaluacion.360{% endtrans %} </p> </div>
	<div id="box_diseno_vida" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.diseno.vida{% endtrans %} </p> </div>
	<div id="box_mercado_laboral" class="single-step tour-p"> <p> {% trans from "label" %}boton.mercado.laboral{% endtrans %} </p> </div>
	<div id="box_red_mentores" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.red.mentores{% endtrans %} </p> </div>
	<div id="box_ponderacion" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.ponderacion{% endtrans %} </p> </div>
	<div id="box_universidades" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.universidades{% endtrans %} </p> </div>
	<div id="box_certificado" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.certificado{% endtrans %} </p> </div>
	
<!-- Mentores expertos / Mentores Orientacion Vocacional -->
	<div id="box_intro_m" class="single-step tour-p">
		<header> <h3>{% trans from "label" %}bienvenido.vocationet{% endtrans %}</h3> </header>
		<p>	{% trans from "label" %}texto.bienvenida.e.intro.tour.mentor{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/navegacion.png') }}" />
		<p>{{ "botones.navegacion"|trans({}, "label") | raw }}<p>
	</div>
	<div id="bar_box_mensajes_m" class="single-step tour-p"> 
		<p> {% trans from "label" %}boton.barra.mensajes.mentor{% endtrans %} </p> 
	</div>
	<div id="bar_box_contactos_m" class="single-step tour-p">
		<p> {% trans from "label" %}boton.barra.contactos.mentor{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/contactos.png') }}" />
	</div>
	<div id="bar_box_usuario_mentor" class="single-step tour-p"> <p class="tour-p"> {% trans from "label" %}boton.usuario.mentor{% endtrans %} </p> </div>
	<div id="bar_box_usuario_perfil_mentor" class="single-step tour-p">
		<p class="tour-p"> {% trans from "label" %}boton.usuario.perfil.mentor.experto{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/perfil_mentor.png') }}" />
	</div>
	<div id="bar_box_usuario_resenas" class="single-step tour-p"> <p class="tour-p"> {% trans from "label" %}boton.usuario.resenas{% endtrans %} </p> </div>
	<div id="box_agenda_me" class="single-step tour-p">
		<p> {% trans from "label" %}boton.agenda.mentor.experto{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/agenda_mentor.png') }}" />
	</div>
	<div id="bar_box_usuario_logout_m" class="single-step tour-p"> <p class="tour-p"> {% trans from "label" %}boton.usuario.logout.mentor{% endtrans %} </p> </div>
	<div id="box_mensajes_m" class="single-step tour-p">
		<p> {% trans from "label" %}boton.menu.mensajes.mentor{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/inbox.png') }}" />
	</div>
	<div id="box_foros_m" class="single-step tour-p">
		<p> {% trans from "label" %}boton.menu.foros.mentor{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/foros.png') }}" />
	</div>
	<div id="box_mentor_ov_usuarios" class="single-step tour-p"> <p> {% trans from "label" %}boton.menu.mentor.ov.usuarios{% endtrans %} </p> </div>
	<div id="box_agenda_mov" class="single-step tour-p">
		<p> {% trans from "label" %}boton.agenda.mentor.ov{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/agenda_mentor.png') }}" />
	</div>
	<div id="bar_box_usuario_perfil_mentor_ov" class="single-step tour-p">
		<p class="tour-p"> {% trans from "label" %}boton.usuario.perfil.mentor.ov{% endtrans %} </p>
		<img class="tour-img" src="{{ asset('img/vocationet/tour/perfil_mentor.png') }}" />
	</div>
	<div id="box_end_ev" class="single-step tour-p"> <p> {% trans from "label" %}texto.finalizacion.ev{% endtrans %} </p> </div>
	

	<script>var style_tour = 'powertour-style-orange';</script>
	<script src="{{ asset('js/vocationet/tour-estudiante.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/vocationet/tour-mentorexperto.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/vocationet/tour-mentorov.js') }}" type="text/javascript"></script>
    <script>
		$(document).ready(function($){
			{% if rolId == 1 %}
				var step = tour_estudiante;
			{% elseif rolId == 2 %}
				var step = tour_mentor_experto;
			{% elseif rolId == 3 %}
				var step = tour_mentor_ov;
			{% endif %}

			$('#starttour').powerTour({
				tourType: 'auto',
				overlayOpacity: 0.5,
				showTimeControls: true,
				showTimer: true,
				timeButtonOrder: '%prev% %stop% %pause% %play% %next%',
				stepButtonOrder: '%prev% %next% %stop%',
				timerLabel: '',			                    
				effectSpeed: 200,
				travelSpeed: 400,
				easingEffect: 'linear',
				easyCancel: true,
				animated: true,
				animatedOnEnd:true, 
				keyboardNavigation: true,
				runOnLoad: false,
				runOnLoadDelay: 2000,
				exitUrl: '',
				onStart: function(){
					$('#sidebar').css('overflow', 'visible');
				},
				onFinish: function(){
					$('#sidebar').css('overflow', 'hidden');
				},
				onStop: function(){},	
				onCancel: function(){
					$('#sidebar').css('overflow', 'hidden');
				},
				step: step
			});
		});
    </script>
