{% extends "::base.html.twig" %}

{% block style %}
    <link href="{{ asset('assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap-datepicker/css/datepicker.css') }}" />
{% endblock style %}

{% block body %}
    
<div class="row">
    <div class="col-lg-3">
        {# FORMULARIO DE CREACION #}
        <section class="panel">
            <header class="panel-heading">
                {% trans  from "label" %}agregar.mentoria{% endtrans %}
            </header>
            <div class="panel-body">
                <form role="form" action="{{ path('agenda_mentor') }}" method="POST" >
                    <div class="form-group">
                        <label>{% trans  from "label" %}fecha{% endtrans %}</label>
                        {{ form_widget(form.fecha, {'attr':{'class':'form-control'} }) }}
                    </div>                    
                    <div class="form-group">
                        <label>{% trans  from "label" %}hora{% endtrans %}</label><br/>
                        <select id="form_hora" name="form[hora]" required="required" class="form-control" style="width:45%; display: inline;">
                            {% for h in 0..23 %}
                                <option value="{{h}}">{% if h|length == 1 %}0{% endif %}{{h}}</option>
                            {% endfor %}
                        </select>
                        :
                        <select id="form_min" name="form[min]" required="required" class="form-control" style="width:45%; display: inline;">
                            {% for m in range(0, 55, 5) %}
                                <option value="{{m}}">{% if m|length == 1 %}0{% endif %}{{m}}</option>
                            {% endfor %}
                        </select>
                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}
                    </div>                    
                    <button type="submit" class="btn btn-info">{% trans  from "label" %}agregar.mentoria{% endtrans %}</button>
                </form>

            </div>
        </section>
    </div>
    <aside class="col-lg-9">
        <section class="panel">
            <div class="panel-body">
                <div id="calendar" class="has-toolbar"></div>
            </div>
        </section>
    </aside>
</div>
{% endblock body %}

{% block script %}
<script type="text/javascript" src="{{ asset('js/jquery-ui-1.9.2.custom.min.js') }}"></script>
<script src="{{ asset('assets/fullcalendar/fullcalendar/fullcalendar.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
    $('#form_fecha').datepicker({
        format: 'yyyy-mm-dd'
    });
</script>
<script type="text/javascript">
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
        },
        defaultView: 'basicWeek',
        editable: false,
        droppable: false,
        events: [
        {% for mentoria in mentorias %}
            {
                title: '{% if mentoria.estudianteId %}{% trans with {'%user%': mentoria.usuarioNombre ~ ' ' ~ mentoria.usuarioApellido } from "label" %}mentoria.con.%user%{% endtrans %}{% else %}{% trans  from "label" %}mentoria.disponible{% endtrans %}{% endif %}',
                start: new Date({{ mentoria.mentoriaInicio|date('Y') }}, {{ mentoria.mentoriaInicio|date('m') }}-1, {{ mentoria.mentoriaInicio|date('d') }}, {{ mentoria.mentoriaInicio|date('H') }}, {{ mentoria.mentoriaInicio|date('i') }}),
                end: new Date({{ mentoria.mentoriaFin|date('Y') }}, {{ mentoria.mentoriaFin|date('m') }}-1, {{ mentoria.mentoriaFin|date('d') }}, {{ mentoria.mentoriaFin|date('H') }}, {{ mentoria.mentoriaFin|date('i') }}),
                allDay: false,
                {% if mentoria.estudianteId %}
                    color: '#72B572',
                {% else %}
                    color: '#8695A6',                    
                {% endif %}
            },
        {% endfor %}
        ]
    });
</script>
{% endblock script %}
