{% extends "::base.html.twig" %}

{% block style %}
    <link href="{{ asset('assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap-datepicker/css/datepicker.css') }}" />
{% endblock style %}

{% block menu %}
	{% set active = 'agendaMentor' %}
	{% include '::menu.html.twig' %}
{% endblock menu %}

{% block body %}
	<div class="row">
		{% set span = (publicidad) ? 9 : 12 %}
		<div class="col-lg-{{ span }}">
		
			{# FORMULARIO DE CREACION DE MENTORIAS #}
			<section class="panel" id="container_form_nm">
				<header class="panel-heading">
					{% trans from "label" %}agregar.mentoria{% endtrans %}
				</header>
				<div class="panel-body">
					<form role="form" action="{{ path('agenda_mentor_crear') }}" method="POST" id="form-mentoria">
						<div class="row">
                            <div class="form-group col-lg-4">
                                <label> {% trans from "label" %}fecha{% endtrans %} </label>
                                {{ form_widget(form.fecha, {'attr':{'class':'form-control'} }) }}
                            </div>                    
                            <div class="form-group col-lg-4">
                                <label> {% trans from "label" %}hora{% endtrans %} </label><br/>
                                <select id="form_hora" name="form[hora]" required="required" class="form-control" style="width:45%; display: inline;">
                                    {% for h in 0..23 %}
                                        <option value="{{h}}" {% if h == 'now'|date('H') %} selected="" {% endif %}>{% if h|length == 1 %}0{% endif %}{{h}}</option>
                                    {% endfor %}
                                </select>
                                :
                                <select id="form_min" name="form[min]" required="required" class="form-control" style="width:45%; display: inline;">
                                    {% for m in range(0, 55, 5) %}
                                        <option value="{{m}}" {% if m >= 'now'|date('i') and m <= 'now'|date('i')+5 %} selected="" {% endif %} >{% if m|length == 1 %}0{% endif %}{{m}}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                            <div class="form-group col-lg-4">
                                <label>{% trans  from "label" %}repetir{% endtrans %}</label><br/>
                                <select name="form[repetir]" class="form-control" >
                                    <option value="0">{% trans  from "label" %}mentoria.unica{% endtrans %}</option>
                                    <option value="1">{% trans  from "label" %}en.semana{% endtrans %}</option>
                                    <option value="2">{% trans  from "label" %}2.semanas{% endtrans %}</option>
                                    <option value="3">{% trans  from "label" %}3.semanas{% endtrans %}</option>
                                    <option value="4">{% trans  from "label" %}4.semanas{% endtrans %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="text-align:right;">
                            {{ form_errors(form) }}
                            {{ form_widget(form._token) }}
                            <div class="form-group col-lg-12"> 
                                <label>&nbsp;</label><br/> 
                                <button type="submit" class="btn btn-info"> {% trans from "label" %}agregar.mentoria{% endtrans %} </button> 
                            </div> 
						</div> 
					</form> 
				</div> 
			</section> 


			{# CALENDARIO #}
			<section class="panel">
				<div class="panel-body">
					<div id="calendar" class="has-toolbar"></div>
				</div>

				<div class="panel-body">
					<ul class="summary-list">
						<li style='width:33%'>
							<i class="icon-calendar" style='color:#8695A6'></i> {% trans from "label" %}mentoria.disponible{% endtrans %}
						</li>
						<li style='width:33%'>
							<i class="icon-calendar" style='color:#EB9823'></i> {% trans from "label" %}mentoria.separada{% endtrans %}
						</li>
						<li style='width:33%'>
							<i class="icon-calendar" style='color:#72B572'></i> {% trans from "label" %}mentoria.finalizada{% endtrans %}
						</li>
					</ul>
				</div>
				
			</section>
			
		</div>

		{# PUBLICIDAD #}
		{% if publicidad %}
			<aside class="col-lg-3">
				<div id="container_publicidad">
					{% for entity in publicidad %}
						{% include 'vocationetBundle:Informacion:showInformacion.html.twig' %}
					{% endfor %}
				</div>
			</aside>
		{% endif %}
	</div>
		
	<div id="modal-mentoria" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				  <h4 class="modal-title">{% trans from "label" %}mentoria{% endtrans %}</h4>
			  </div>
			  <div class="modal-body">
				  <div style="text-align: center"><img src="{{ asset('img/ajax-loader.gif') }}" /></div>
			  </div>    
		  </div>
		</div>
	</div>
{% endblock body %}

{% block script %}
	<script type="text/javascript" src="{{ asset('js/jquery-ui-1.9.2.custom.min.js') }}"></script>
	<script src="{{ asset('assets/fullcalendar/fullcalendar/fullcalendar.min.js') }}"></script>
	<script src="{{ asset('assets/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/vocationet/agenda-mentor.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		var datepicker = $('#form_fecha').datepicker({
			format: 'yyyy-mm-dd',
		});
	</script>
	<script type="text/javascript">
	
        AgendaMentor.init({
            items_agenda_path: '{{ path('agenda_mentor_items') }}'
        });
        
	</script>
{% endblock script %}
