{% extends '::base.html.twig' %}

{% block style %}
<style>
    .div-formulario{
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
    
    .div-opciones, .div-respuestas{
        margin-left: 30px;
    }
</style>
{% endblock style %}

{% block body %}
<div class="row">
    <div class="col-lg-8">
        <section class="panel" id="div-cuestionario">
            <header class="panel-heading" style="font-size: 14px;">
                {% trans from "label" %}ponderacion{% endtrans %}
            </header>
            <div class="panel-body">
                <h4>{% trans from "label" %}puntajes{% endtrans %}</h4>
                <ul>
                    {% for puntaje in puntuacion %}
                        <li><b>{{ puntaje.nombre }}:</b> {{ puntaje.puntaje }}</li>
                    {% endfor %}
                </ul>
                <br/>
                {% for formulario in formularios %}
                    <div class="div-formulario">
                        <h4>{{ formulario.nombre }}</h4>
                        {% if formulario.descripcion %}
                            <p>{{ formulario.descripcion|trans({'%usu%': usuario.usuarioNombre~' '~usuario.usuarioApellido}) }}</p>
                        {% endif %}
                        {% for pregunta in formulario.preguntas %}
                        <div class="div-pregunta">                            
                            <b>{{ pregunta.numero }}. </b>
                            {{ pregunta.pregunta }}
                            {% if pregunta.opciones is defined %}
                            <div class="div-opciones">
                                <b>{% trans from "label" %}opciones{% endtrans %}</b>
                                <ol>                                    
                                {% for opcion in pregunta.opciones %}
                                    <li>{{ opcion.nombre }}</li>
                                {% endfor %}
                                </ol>
                            </div>
                            {% endif %}
                            {% if pregunta.respuestas is defined %}
                            <div class="div-respuestas">
                                <b>{% trans from "label" %}respuestas{% endtrans %}</b>
                                <ol>                                
                                    {% for respuesta in pregunta.respuestas %}
                                        <li>
                                            {{ respuesta.carrera }}: {{ respuesta.valor }}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
    
    <div class="col-lg-4">
        <aside class="profile-nav alt green-border">
            <section class="panel">
              <div class="user-heading alt green-bg">
                  <a href="{{ path("perfil", {"perfilId":usuario.id}) }}">
                      <img alt="" src="{{ asset(usuario.usuarioImagen|default(gui_default_img)) }}?type=large">
                  </a>
                  <h1>{{ usuario.usuarioNombre ~ ' '~ usuario.usuarioApellido }}</h1>
              </div>
            <header class="panel-heading" style="font-size: 14px;">
                {% trans from "label" %}participaciones{% endtrans %}
            </header>
            <table class="table table-striped">
                <tbody>
                {% for participacion in participaciones %}
                    <tr>
                        <td style="overflow: hidden; text-overflow: ellipsis;">
                            {% if participacion.carreraNombre %}
                                {{ participacion.carreraNombre }}
                                <br/>
                            {% endif %}
                            {{ participacion.fecha|date('d/m/Y H:i') }}                            
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </section>
        </aside>
    </div>
    
</div>
{% endblock body %}