{% extends '::base.html.twig' %}

{% block body %}
<section>
    <div class="panel panel-primary">
        <header class="panel-heading">
            {% trans from "label" %}compra{% endtrans %}
        </header>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans  from "label" %}producto{% endtrans %}</th>
                        <th>{% trans  from "label" %}valor{% endtrans %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, producto in productos %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {{ producto.nombre }}
                                {% if producto.mentor is defined %}
                                    {% trans  from "label" %}con{% endtrans %} {{ producto.mentor }}
                                {% endif %}
                            </td>
                            <td>$ {{ producto.valor|number_format() }}</td>
                            <td><a href="{{ path("eliminar_producto", {'key': key }) }}" class="btn btn-xs btn-danger"><i class="icon-trash"></i> {% trans  from "label" %}eliminar{% endtrans %}</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{% trans  from "label" %}no.hay.productos{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-4 invoice-block pull-right">
                    <ul class="unstyled amounts">
                        <li><strong>{% trans  from "label" %}subtotal{% endtrans %}:</strong> ${{ subtotal|number_format }}</li>
                        <li><strong>{% trans  from "label" %}iva{% endtrans %}:</strong> ${{ iva|number_format }}</li>
                        <li><strong>{% trans  from "label" %}total{% endtrans %}:</strong> ${{ total|number_format }}</li>
                    </ul>
                </div>
            </div>
            <div class="text-center invoice-btn">
                <form action="{{ path("comprar") }}" method="post">
                    {{ form_widget(form._token) }}
                    <button type="submit" class="btn btn-danger btn-lg"><i class="icon-check"></i> {% trans  from "label" %}pagar{% endtrans %} </button>                
                    <a href="{{ path('planes') }}" class="btn btn-info btn-lg"><i class="icon-suitcase"></i> {% trans  from "label" %}paquetes{% endtrans %} </a>                
                </form>
            </div>
        </div>
</section>    
{% endblock body %}