{% extends "::base.html.twig" %}

{% block style %}
	<style>
		.foro>td{
			background-color:transparent !important;
			padding:0px !important;
			vertical-align:middle !important;
		}
		.foro:hover{
			background-color:#f5f5f5;
			cursor:  pointer;
		}
		.foro>td>div{
			padding:10px 15px;
			color: #333;
			vertical-align:middle;
		}

        .ui-helper-hidden-accessible {
             display: none;
        }
        .ui-menu .ui-menu-item a{
            background: transparent;
            background-color: transparent;
            height:15px;
            font-size:15px;
            width: 500px !important;
            border: 1px solid #F3F0F0;
            padding-left: 10px;
            padding-right: 90px;
        }
        .ui-widget-content {
            background-color: transparent !important;
        }
	</style>
	<link href="{{ asset('css/vocationet/rateit.css') }}" rel="stylesheet"/>
	<link href="{{ asset('rateit/src/rateit.css')}}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block menu %}
	{% set active = 'mvocacional' %}
	{% include '::menu.html.twig' %}
{% endblock menu %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
            
            {# HEADER #}
            <section class="panel post-wrap pro-box" id="header-cuestionario">
                <aside>
                  <div class="post-info">
                      <span class="arrow-pro right"></span>
                      <div class="panel-body">
                          <div class="text-center twite">
                              <h1 style="font-size: 40px;">{{ formulario_info.nombre }}</h1>
                          </div>
                      </div>
                  </div>
                </aside>
                <aside class="post-highlight terques v-align">
                  <div class="panel-body text-center">
                      <div class="panel-body">
                          <h2>{{ formulario_info.encabezado }}</h2>
                      </div>
                  </div>
                </aside>
            </section>
            
            
			<section class="panel">
				<header class="panel-heading">{{ formulario_info.nombre }}</header>
                {% if selectMentor == false %}
					<div class="panel-body">
						{# FORMULARIO DE BUSQUEDA AVANZADA #}
						<form class="form-inline text-center" role="form" action="{{ path('lista_mentores_ov') }}" method='POST' {{ form_enctype(form) }} type="post">
							<div class="form-group">
								{{ form_widget(form.universidad, { 'attr' : {'class': 'form-control', 'placeholder' : 'universidad'|trans({}, "label"), 'STYLE':'width:280px;' }}) }}
							</div>
							<div class="form-group">
								{{ form_widget(form.profesion, { 'attr' : {'class': 'form-control', 'placeholder' : 'profesion'|trans({}, "label"), 'STYLE':'width:280px;' }}) }}
							</div>
							<button type="submit" class="btn btn-info"><i class='icon-search'></i>&nbsp;{% trans from "label" %}buscar{% endtrans %}</button>
							<a href='{{ path('lista_mentores_ov') }}' class="btn btn-success">&nbsp;{% trans from "label" %}quitar.filtros{% endtrans %}</a>
							{# form(form) #}
							{{ form_widget(form._token) }}
							{{ form_errors(form) }}
						</form>
					</div>
					<hr STYLE="margin: 0 0 5px 0;">
				{% endif %}
                
                {% if contactos %}
					<table class="table table-striped border-top datatable">
						<thead>
							<tr>
								<th></th>
								<th>{% trans from "label" %}apellido{% endtrans %}</th>
								<th>{% trans from "label" %}nombre{% endtrans %}</th>
								{#<th>{% trans from "label" %}rol{% endtrans %}</th>#}
								<th class='text-center'>{% trans from "label" %}valoraciones{% endtrans %}</th>
								<th>{% trans from "label" %}profesion{% endtrans %}</th>
								<th>{% trans from "label" %}universidad{% endtrans %}</th>
								<th>{% trans from "label" %}opciones{% endtrans %}</th>
							</tr>
						</thead>
						<tbody>
							{% for c in contactos %}
								{% set pathUser = path('perfil', {'perfilId': c.id }) %}
								<tr class="foro" id='rel_{{ c.relacionId }}'>
									<td class='href' data-href='{{ pathUser }}'>
										{% set imagen = (c.usuarioImagen) ? c.usuarioImagen ~ '?type=large' : gui_default_img %}
										<div><img src="{{ asset(imagen) }}" alt="" STYLE='width:50px'></div>
									</td>
									<td class='href' data-href='{{ pathUser }}'><div>{{ c.usuarioApellido }}</div></td>
									<td class='href' data-href='{{ pathUser }}'><div>{{ c.usuarioNombre }}</div></td>
									{#<td class='href' data-href='{{ pathUser }}'><div>{{ c.rolNombre|trans({}, 'db') }}</div></td>#}
									<td class='href' data-href='{{ pathUser }}'>
										<div class='text-center';>
											{% set estrellasPromedio = (c.usuarioPuntos >= 0 and c.usuarioPuntos <= 5) ? c.usuarioPuntos : 0 %}
											<div class="rateit" data-rateit-value="{{ estrellasPromedio }}" data-rateit-max="5" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-starwidth="16"></div>
											<BR><div>{{ c.cantidadMentorias}}&nbsp;{% trans from "label" %}valoraciones{% endtrans %}</div>
										</div>
									</td>
									<td class='href' data-href='{{ pathUser }}'>
										<div>{{ c.usuarioProfesion|default('no.ha.sido.suministrada'|trans({}, "label")) }}</div>
									</td>
									<td class='href' data-href='{{ pathUser }}'>
										<div>
											{% if c.estudios is defined %}
												{% for est in c.estudios %}
													- {{ est.titulo }}&nbsp;({{ est.nombreInstitucion }})<br>
												{% endfor %}
											{% else %}
												{% trans from "label" %}no.ha.sido.suministrada{% endtrans %}
											{% endif %}
										</div>
									</td>
									<td class="text-center">
										<a STYLE='margin:2px;width:90%;' href='{{ pathUser }}' type="button" class="btn btn-primary btn-xs">{{ 'ver.perfil'|trans({}, 'label') }}</a>
										<br>
										<a STYLE='margin:2px;width:90%;' href='{{ path('horarios_disponibles_mentor', {'perfilId': c.id }) }}' type="button" class="btn btn-primary btn-xs">{{ 'ver.disponibilidad'|trans({}, 'label') }}</a>
										<br>
										{% if selectMentor == false %}
											<form action="{{ path('seleccionar_mentor') }}" method='POST' {{ form_enctype(form) }} type="post">
												<input type='hidden' name='mentorOV' value='{{ c.id }}'/>
												<button type='button' STYLE='margin:2px;width:90%;' data-info='{{ c.usuarioNombre ~ ' ' ~ c.usuarioApellido }}' type="button" class="btn btn-success btn-xs seleccionarMentor">{{ 'seleccionar'|trans({}, 'label') }}</button>
											</form>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<div class="panel-body" STYLE='text-align:center;'>
                        {% trans from "label" %}no.hay.coincidencias.en.la.busqueda{% endtrans %}
					</div>
				{% endif %}
			</section>
			<hr>
				<div class="panel-body text-center">
					<a href="{{ path('perfil', { 'perfilId': sess_user.id }) }}" type="button" class="btn btn-shadow btn-primary">{% trans from "label" %}ver.perfil{% endtrans %}</a>
					<a href="{{ path('diagnostico') }}" type="button" class="btn btn-shadow btn-primary">{% trans from "label" %}anterior{% endtrans %}</a>
					<a href='{{ path('test_vocacional') }}'type="button" class="btn btn-shadow btn-primary">{% trans from "label" %}continuar.programa{% endtrans %}</a>
				</div>
		</div>
	</div>
{% endblock body %}

{% block script %}
    
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ asset('assets/data-tables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/data-tables/DT_bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vocationet/datatables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('rateit/src/jquery.rateit.js') }}"></script>

    <script>
        {% if acTitulo %}
           $(function() {
               var availableTitul = [
                   {% for tit in acTitulo %}
                       "{{ tit }}",
                   {% endfor %}
               ];
               $( "#form_profesion" ).autocomplete({
                   source: availableTitul
               });
           });
         {% endif %}
     
        {% if acUnivers %}
           $(function() {
               var availableUniver = [
                   {% for uni in acUnivers %}
                       "{{ uni }}",
                   {% endfor %}
               ];
               $( "#form_universidad" ).autocomplete({
                   source: availableUniver
               });
           });
		{% endif %}
  
		$('.table').on('click', '.href', function(){
			window.location = $(this).data('href');
		});

		// Evento de click del btn seleccionar mentor, que envia el form.
		$('.table').on('click', '.seleccionarMentor', function(){
			var nameMentor = $(this).data('info');
			translateConfirm = '{{ 'confirmacion.mentor.%name%'|trans({'%name%': "nameMentor" }, 'label') }}';
			translateConfirm = translateConfirm.replace("nameMentor", nameMentor);
			if (confirm(translateConfirm)) {
				$(this).parent().submit();
			}
		});
    </script>
{% endblock script%}

